<ion-view class="arrived">
  <ion-content>
    <h1 class="notify-title">you have arrived</h1>
    <div class="arrived-content">
      <h1>destination:</h1>
      <h2>Wellington Club</h2>
      <h2>116A Knightsbrige</h2>
      <h2>London</h2>
      <h2>SW1X 7PL</h2>
    </div>

    <div class="arrived-footer">
      <div class="arrived-content">
        <h1>journey summary:</h1>
        <h3>11mins</h3>
        <h4>&#163;08.80</h4>
      </div>
    </div>
  </ion-content>
</ion-view>
