<ion-view class="bitReq bg1">
  <ion-content>
    <h1 class="rideNow-title">1 new <br/> bid request</h1>
    <div class="bitReq-box">
      <div class="bef-btn">
        <?xml version="1.0" encoding="utf-8"?>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 400 400" style="enable-background:new 0 0 400 400;" xml:space="preserve">
        <g id="APP_BADGE">
          <g>
            <path class="st0" d="M145.7,24.8h106.1c35.2,0,52.8,0,71.7,6c20.7,7.5,37,23.8,44.5,44.5c6,18.9,6,36.5,6,71.7v106
              c0,35.2,0,52.8-6,71.7c-7.5,20.7-23.8,37-44.5,44.5c-18.9,6-36.5,6-71.7,6H145.7c-35.2,0-52.8,0-71.7-6
              c-20.7-7.5-37-23.8-44.5-44.5c-6-18.9-6-36.5-6-71.7V147c0-35.2,0-52.8,6-71.7C37,54.6,53.3,38.3,74,30.8
              C92.9,24.8,110.5,24.8,145.7,24.8L145.7,24.8"/>
          </g>
        </g>
        <g id="DRIVER">
          <g>
            <path class="st1" d="M198.9,225.2c-25.9,0-51.8-0.1-77.7,0.1c-7.3,0-12.6-2.6-15.2-8.8c-1.9-4.6-3.5-9.5-4.1-14.3
              c-1.2-9.5-1-19,2.6-28.2c2-5.3,5.4-9.5,11.6-11.4c1.2-0.4,2.3-1.9,2.7-3.1c4-11.1,7.7-22.3,11.7-33.4c3.2-8.8,9.9-14.4,19.7-16.9
              c2.1-0.5,4.4-0.7,6.5-0.7c3.8-0.1,7.6-0.1,11.3,0c2.2,0,3.2-0.9,3.2-2.9c0-2.6,0-5.2,0-7.8c0.2-6.8,4.5-10.9,11.9-10.9
              c10.2-0.1,20.5-0.1,30.7,0c7.2,0.1,11.7,4.1,12,10.7c0.1,2.7,0.1,5.4,0.1,8.1c0,2,1,2.9,3.2,2.9c3.6,0,7.2,0,10.8,0
              c12.7,0.1,23.3,7.2,27.1,18.4c3.7,10.8,7.4,21.5,11,32.3c0.6,1.9,1.8,2.9,3.9,3.8c2.8,1.2,5.7,3,7.5,5.2
              c4.7,5.7,5.5,12.8,6.1,19.7c0.6,7.4,0.4,14.8-1.6,22.1c-0.8,3-2,6-3.6,8.7c-2.7,4.6-7,6.8-12.9,6.8
              C251.2,225.1,225,225.2,198.9,225.2z M198.6,124.1L198.6,124.1c-13.7,0-27.4,0-41.2,0c-5.3,0-9.1,2.7-10.7,7.2
              c-2.9,8.4-5.8,16.8-8.7,25.3c-1.8,5.4-1.5,5.7,4.8,5.7c11.3,0,22.6,0,33.9,0c12.8-0.1,25.5-0.2,38.3-0.3c3.9,0,7.9,0,11.8,0
              c5.4,0.1,10.8,0.2,16.3,0.3c4.4,0,8.8,0.1,13.2-0.1c4-0.2,4.4-0.7,3.2-4.1c-2.9-8.6-5.8-17.2-8.8-25.8c-2.1-6-5.5-8.3-12.4-8.3
              C225.1,124.1,211.8,124.1,198.6,124.1z M143,183.7L143,183.7c-2.7,0-5.3-0.1-8,0c-5.4,0.2-8.8,3.2-9,8.1c-0.1,2.4-0.1,4.9,0,7.3
              c0.2,4.7,3.3,7.9,8.4,8.1c5.6,0.3,11.2,0.3,16.8,0c5-0.2,8.2-3.5,8.4-8.2c0.1-2.4,0.1-4.9,0-7.3c-0.2-4.7-3.5-7.7-8.5-8
              C148.3,183.6,145.6,183.7,143,183.7z M254.2,183.7c-2.7,0-5.3-0.1-8,0c-5,0.2-8.4,3.3-8.6,7.9c-0.1,2.4-0.1,4.7,0,7.1
              c0.1,5.1,3.2,8.3,8.7,8.6c5.4,0.2,10.9,0.2,16.3,0c4.8-0.2,8.1-3.2,8.5-7.5c0.3-2.8,0.3-5.7,0-8.6c-0.5-4.5-3.9-7.3-8.9-7.4
              C259.5,183.6,256.9,183.7,254.2,183.7z"/>
            <path class="st1" d="M130,224.3c4,0,8.1,0,12.1,0c2.3,0,3.4,0.8,3.4,2.8c-0.1,5.5,0.1,11.1-0.1,16.6c-0.1,3.7-2.4,5.5-6.7,5.6
              c-5.9,0.1-11.8,0.1-17.7,0c-4.5-0.1-6.5-1.9-6.6-5.6c-0.1-5.4,0-10.8,0-16.2c0-2.7,0.6-3.2,4-3.2
              C122.3,224.3,126.1,224.3,130,224.3L130,224.3z"/>
            <path class="st1" d="M267.1,224.3c4,0,7.9,0,11.9,0c2.5,0,3.7,0.8,3.7,3c-0.1,5.5,0,11-0.1,16.4c-0.1,3.7-2.4,5.5-6.7,5.6
              c-5.8,0.1-11.6,0.1-17.4,0c-4.5,0-6.8-2-6.8-5.8c-0.1-5.4,0-10.8-0.1-16.2c0-2.2,1.1-3.1,3.6-3
              C259.2,224.3,263.2,224.3,267.1,224.3z"/>
          </g>
          <path class="st2" d="M224.6,190.4h-52.3c-1.7,0-3.1-1.4-3.1-3.1l0,0c0-1.7,1.4-3.1,3.1-3.1h52.3c1.7,0,3.1,1.4,3.1,3.1l0,0
            C227.6,189,226.3,190.4,224.6,190.4z"/>
          <path class="st2" d="M224.6,199.4h-52.3c-1.7,0-3.1-1.4-3.1-3.1l0,0c0-1.7,1.4-3.1,3.1-3.1h52.3c1.7,0,3.1,1.4,3.1,3.1l0,0
            C227.6,198,226.3,199.4,224.6,199.4z"/>
          <g>
            <rect x="92.1" y="305.5" class="st3" width="214.7" height="49.8"/>
            <path class="st1" d="M102.7,305.5c3.1,0,5.3,0.8,6.8,2.5c1.3,1.5,1.9,3.5,1.9,6.2v5.3c0,2.6-1,4.8-2.9,6.5l4.1,15.9h-5.9
              l-3.3-13.7c-0.2,0-0.3,0-0.5,0h-3.2V342H94v-36.5H102.7z M106,314.3c0-2.1-1-3.2-3.1-3.2h-3.3v11.7h3.3c0.9,0,1.6-0.3,2.2-0.9
              s0.9-1.4,0.9-2.2V314.3z"/>
            <path class="st1" d="M130.9,342h-5.5v-36.5h5.5V342z"/>
            <path class="st1" d="M161.4,333.2c0,2.4-0.8,4.5-2.5,6.2s-3.7,2.6-6.1,2.6h-8.6v-36.5h8.6c2.4,0,4.4,0.9,6.1,2.6
              c1.7,1.7,2.5,3.8,2.5,6.1V333.2z M149.6,336.5h3.3c0.9,0,1.6-0.3,2.2-0.9c0.6-0.6,0.9-1.4,0.9-2.2v-19.1c0-0.9-0.3-1.6-0.9-2.2
              c-0.6-0.6-1.3-0.9-2.2-0.9h-3.3V336.5z"/>
            <path class="st1" d="M174.5,342v-36.5h15.7v5.5H180v10h7.4v5.5H180v10h10.2v5.5H174.5z"/>
            <path class="st1" d="M220.3,305.5l7.3,24.5v-24.5h5.5V342h-5.9l-7.6-23.4V342h-5.5v-36.5H220.3z"/>
            <path class="st1" d="M254.9,305c2.4,0,4.5,0.9,6.2,2.6s2.5,3.8,2.5,6.2v19.9c0,2.4-0.9,4.5-2.6,6.2s-3.8,2.5-6.2,2.5
              c-2.4,0-4.5-0.9-6.2-2.6s-2.5-3.8-2.5-6.2v-19.9c0-2.4,0.9-4.5,2.6-6.2C250.5,305.9,252.5,305,254.9,305z M257.9,313.6
              c0-0.9-0.3-1.6-0.9-2.2s-1.4-0.9-2.2-0.9s-1.6,0.3-2.2,0.9s-0.9,1.4-0.9,2.2v20c0,0.9,0.3,1.6,0.9,2.2s1.4,0.9,2.2,0.9
              s1.6-0.3,2.2-0.9s0.9-1.4,0.9-2.2V313.6z"/>
            <path class="st1" d="M298.3,305.5h5.8l-5.7,36.5h-5.2l-3.1-20.1l-2.9,20.1h-5.3l-6.1-36.5h5.8l2.9,19.5l2.6-19.5h5.8l2.9,19.5
              L298.3,305.5z"/>
          </g>
          <g>
            <line class="st4" x1="91" y1="292.5" x2="304" y2="292.5"/>
          </g>
        </g>
        </svg>
      </div>

      <div class="bef-btn active">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 19.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 400 400" style="enable-background:new 0 0 400 400;" xml:space="preserve">
        <g id="APP_BADGE">
          <g>
            <path class="st0" d="M145.7,24.8h106.1c35.2,0,52.8,0,71.7,6c20.7,7.5,37,23.8,44.5,44.5c6,18.9,6,36.5,6,71.7v106
              c0,35.2,0,52.8-6,71.7c-7.5,20.7-23.8,37-44.5,44.5c-18.9,6-36.5,6-71.7,6H145.7c-35.2,0-52.8,0-71.7-6
              c-20.7-7.5-37-23.8-44.5-44.5c-6-18.9-6-36.5-6-71.7V147c0-35.2,0-52.8,6-71.7C37,54.6,53.3,38.3,74,30.8
              C92.9,24.8,110.5,24.8,145.7,24.8L145.7,24.8"/>
          </g>
        </g>
        <g id="DRIVER">
          <g>
            <path class="st1" d="M154.3,191c18.8-8,62.7-8.4,87.6,0.4c17.5,5.9,39.1,18.2,40.8,36.3c1,10.8,1,21.8,0.5,32.7
              c-0.3,6.7-6.9,12.3-13.7,13.3c-2.6,0.4-5.4,0.4-8,0.4c-42.3,0-84.7,0-127,0c-16.2,0-22.2-6.1-22.2-22.5c0-4.7,0-9.3,0-14
              c-0.1-11.9,3.7-22,12.6-30.3C133.1,199.7,142.6,194.3,154.3,191z"/>
            <path class="st1" d="M244.1,111.8c-1,16.9-6,32.3-16.6,45.6c-16.4,20.5-42.1,20.9-58.5,0.5c-13.5-16.8-19.6-36.3-15.9-57.7
              c4.1-24.3,26.5-39.7,51.9-36.7C227.6,66.1,245.4,88.1,244.1,111.8z"/>
          </g>
          <line class="st2" x1="107" y1="289" x2="283" y2="289"/>
          <g>
            <g>
              <rect x="108.6" y="302.1" class="st3" width="211.7" height="49.1"/>
              <path class="st1" d="M119,338.6c-2.4,0-4.4-0.8-6.1-2.5s-2.5-3.7-2.5-6.1v-19.6c0-2.4,0.8-4.4,2.5-6.1s3.7-2.5,6.1-2.5
                s4.4,0.8,6.1,2.5s2.5,3.7,2.5,6.1v4.1H122v-4.2c0-0.9-0.3-1.6-0.9-2.2s-1.3-0.9-2.2-0.9c-0.9,0-1.6,0.3-2.2,0.9s-0.9,1.3-0.9,2.2
                V330c0,0.9,0.3,1.6,0.9,2.2s1.3,0.9,2.2,0.9c0.9,0,1.6-0.3,2.2-0.9s0.9-1.3,0.9-2.2v-5h5.6v5c0,2.4-0.8,4.4-2.5,6.1
                C123.4,337.8,121.4,338.6,119,338.6z"/>
              <path class="st1" d="M159.6,338.1h-14.8v-36h5.4v30.6h9.4L159.6,338.1L159.6,338.1z"/>
              <path class="st1" d="M181.6,338.1h-5.4v-36h5.4V338.1z"/>
              <path class="st1" d="M199.3,338.1v-36h15.4v5.5h-10v9.8h7.3v5.5h-7.3v9.8h10v5.5L199.3,338.1L199.3,338.1z"/>
              <path class="st1" d="M237.3,302.1l7.2,24.2v-24.2h5.4v36h-5.8l-7.5-23v23h-5.4v-36H237.3z"/>
              <path class="st1" d="M272.9,307.6h-5.8v-5.5H284v5.5h-5.7v30.5h-5.4V307.6z"/>
            </g>
          </g>
        </g>
        </svg>

      </div>

      <div class="bitReq-box-info">
        <h1>mes jones</h1>
        <h2>Acc No. 0057824001</h2>
      </div>
    </div>

    <div class="driver-content">
      <div class="driver-content-item">
        <div class="driver-content-item-top">
          <h1>from:</h1>
          <h2>South Lambeth Road</h2>
          <h2>London</h2>
          <h3>sw8 1ss</h3>
        </div>
        <div class="driver-content-item-bottom">
          <h2>est time: <span><b>16 min</b> 2.9 miles</span></h2>
        </div>
      </div>
      <div class="driver-content-item">
        <div class="driver-content-item-top">
          <h1>to:</h1>
          <h2>Wellington Club</h2>
          <h2>116A Knightsbridge</h2>
          <h2>London</h2>
          <h3>sw1x 7pl</h3>
        </div>
        <div class="driver-content-item-bottom">
          <h2>traffic: <span><b>no delays</b> reported</span></h2>
        </div>
      </div>
    </div>



    <div class="bitReq-footer-btns">
      <button class="bef-btn">
        <?xml version="1.0" encoding="utf-8"?>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 400 400" style="enable-background:new 0 0 400 400;" xml:space="preserve">
        <g id="APP_BADGE">
          <g>
            <path class="fill-white stroke-white" d="M145.7,24.8h106.1c35.2,0,52.8,0,71.7,6c20.7,7.5,37,23.8,44.5,44.5c6,18.9,6,36.5,6,71.7v106
              c0,35.2,0,52.8-6,71.7c-7.5,20.7-23.8,37-44.5,44.5c-18.9,6-36.5,6-71.7,6H145.7c-35.2,0-52.8,0-71.7-6
              c-20.7-7.5-37-23.8-44.5-44.5c-6-18.9-6-36.5-6-71.7V147c0-35.2,0-52.8,6-71.7C37,54.6,53.3,38.3,74,30.8
              C92.9,24.8,110.5,24.8,145.7,24.8L145.7,24.8"/>
          </g>
        </g>
        <g id="DRIVER">
          <g>
            <path class="fill-red" d="M128.3,329.6c0,2.4-0.8,4.5-2.5,6.2s-3.7,2.6-6.1,2.6H111v-36.5h8.6c2.4,0,4.4,0.9,6.1,2.6s2.5,3.8,2.5,6.1
              v19H128.3z M116.5,332.8h3.3c0.9,0,1.6-0.3,2.2-0.9s0.9-1.4,0.9-2.2v-19.1c0-0.9-0.3-1.6-0.9-2.2s-1.3-0.9-2.2-0.9h-3.3V332.8z"/>
            <path class="fill-red" d="M140.4,338.3v-36.5h15.7v5.5h-10.2v10h7.4v5.5h-7.4v10h10.2v5.5H140.4z"/>
            <path class="fill-red" d="M175.9,338.8c-2.4,0-4.5-0.8-6.2-2.5s-2.5-3.8-2.5-6.2v-19.9c0-2.4,0.9-4.5,2.6-6.2c1.7-1.7,3.8-2.5,6.2-2.5
              s4.5,0.9,6.2,2.6s2.5,3.8,2.5,6.2v4.2H179V310c0-0.9-0.3-1.6-0.9-2.2c-0.6-0.6-1.4-0.9-2.2-0.9c-0.9,0-1.6,0.3-2.2,0.9
              c-0.6,0.6-0.9,1.4-0.9,2.2v20c0,0.9,0.3,1.6,0.9,2.2c0.6,0.6,1.4,0.9,2.2,0.9c0.9,0,1.6-0.3,2.2-0.9s0.9-1.4,0.9-2.2v-5h5.7v5.1
              c0,2.4-0.9,4.5-2.6,6.2C180.3,337.9,178.3,338.8,175.9,338.8z"/>
            <path class="fill-red" d="M211.4,338.3h-15v-36.5h5.5v31h9.5V338.3z"/>
            <path class="fill-red" d="M228,338.3h-5.5v-36.5h5.5V338.3z"/>
            <path class="fill-red" d="M246.3,301.8l7.3,24.5v-24.5h5.5v36.5h-5.9l-7.6-23.4v23.4h-5.5v-36.5H246.3z"/>
            <path class="fill-red" d="M271.4,338.3v-36.5H287v5.5h-10.2v10h7.4v5.5h-7.4v10H287v5.5H271.4z"/>
          </g>
          <g>
            <path class="fill-black" d="M199,218.3c-20.3,19.5-39.3,37.9-58,55.9c-11.4-12.3-22.1-23.8-33.2-35.6c18.3-17.1,37.8-35.1,57.3-53.3
              c-19.7-20.6-37.9-39.7-55.7-58.4c12.2-11.3,23.5-21.7,34.8-32c16.8,17.9,35,37.2,53.2,56.6c20.7-19.8,39.7-38.1,58-55.6
              c12,12.6,23,24.1,34.3,35.9c-18.2,17-37.4,35-56.6,52.9c19.1,20.1,37.5,39.4,55.6,58.5c-12.5,11.7-23.8,22.3-35.5,33.3
              C235.5,257.6,217.4,238.1,199,218.3z"/>
          </g>
          <g>
            <line class="fill-black" x1="109" y1="289.5" x2="286" y2="289.5"/>
          </g>
        </g>
        </svg>
      </button>
      <button class="bef-btn">
        <?xml version="1.0" encoding="utf-8"?>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 400 400" style="enable-background:new 0 0 400 400;" xml:space="preserve">
        <g id="APP_BADGE">
          <g>
            <path class="fill-white stroke-white" d="M145.7,24.8h106.1c35.2,0,52.8,0,71.7,6c20.7,7.5,37,23.8,44.5,44.5c6,18.9,6,36.5,6,71.7v106
              c0,35.2,0,52.8-6,71.7c-7.5,20.7-23.8,37-44.5,44.5c-18.9,6-36.5,6-71.7,6H145.7c-35.2,0-52.8,0-71.7-6
              c-20.7-7.5-37-23.8-44.5-44.5c-6-18.9-6-36.5-6-71.7V147c0-35.2,0-52.8,6-71.7C37,54.6,53.3,38.3,74,30.8
              C92.9,24.8,110.5,24.8,145.7,24.8L145.7,24.8"/>
          </g>
        </g>
        <g id="DRIVER">
          <g>
            <path class="fill-red" d="M119.1,329.9l-1.3,8.4H112l6.2-36.5h7.6l6.1,36.5h-5.8l-1.3-8.4H119.1z M122,310.2l-2,14.4h4.1L122,310.2z"/>
            <path class="fill-red" d="M154.2,338.8c-2.4,0-4.5-0.8-6.2-2.5s-2.5-3.8-2.5-6.2v-19.9c0-2.4,0.9-4.5,2.6-6.2c1.7-1.7,3.8-2.5,6.2-2.5
              s4.5,0.9,6.2,2.6s2.5,3.8,2.5,6.2v4.2h-5.7V310c0-0.9-0.3-1.6-0.9-2.2c-0.6-0.6-1.4-0.9-2.2-0.9c-0.9,0-1.6,0.3-2.2,0.9
              c-0.6,0.6-0.9,1.4-0.9,2.2v20c0,0.9,0.3,1.6,0.9,2.2c0.6,0.6,1.4,0.9,2.2,0.9c0.9,0,1.6-0.3,2.2-0.9s0.9-1.4,0.9-2.2v-5h5.7v5.1
              c0,2.4-0.9,4.5-2.6,6.2C158.6,337.9,156.6,338.8,154.2,338.8z"/>
            <path class="fill-red" d="M185.8,338.8c-2.4,0-4.5-0.8-6.2-2.5s-2.5-3.8-2.5-6.2v-19.9c0-2.4,0.9-4.5,2.6-6.2c1.7-1.7,3.8-2.5,6.2-2.5
              s4.5,0.9,6.2,2.6s2.5,3.8,2.5,6.2v4.2h-5.7V310c0-0.9-0.3-1.6-0.9-2.2c-0.6-0.6-1.4-0.9-2.2-0.9c-0.9,0-1.6,0.3-2.2,0.9
              c-0.6,0.6-0.9,1.4-0.9,2.2v20c0,0.9,0.3,1.6,0.9,2.2c0.6,0.6,1.4,0.9,2.2,0.9c0.9,0,1.6-0.3,2.2-0.9s0.9-1.4,0.9-2.2v-5h5.7v5.1
              c0,2.4-0.9,4.5-2.6,6.2C190.2,337.9,188.2,338.8,185.8,338.8z"/>
            <path class="fill-red" d="M208.8,338.3v-36.5h15.7v5.5h-10.2v10h7.4v5.5h-7.4v10h10.2v5.5H208.8z"/>
            <path class="fill-red" d="M246.6,301.8c2.7,0,4.8,0.8,6.4,2.5c1.5,1.6,2.2,3.7,2.2,6.2v5.3c0,2.4-0.8,4.5-2.5,6.2s-3.7,2.6-6.1,2.6
              h-3.2v13.7H238v-36.5L246.6,301.8L246.6,301.8z M249.9,310.6c0-1-0.3-1.7-0.9-2.3s-1.3-0.9-2.3-0.9h-3.3v11.7h3.3
              c0.9,0,1.6-0.3,2.2-0.9s0.9-1.4,0.9-2.2v-5.4H249.9z"/>
            <path class="fill-red" d="M274.6,307.3h-5.9v-5.5H286v5.5h-5.8v30.9h-5.5v-30.9H274.6z"/>
          </g>
          <g>
            <line class="fill-black" x1="109" y1="289.5" x2="286" y2="289.5"/>
          </g>
          <g>
            <path class="fill-black" d="M176.9,272c-26.9-27-53.3-53.5-79-79.3c9-8.9,18.6-18.4,28.8-28.5c15.1,15.4,31.3,32,48.6,49.6
              c37.7-38.4,74-75.5,109.9-112c11,11.1,20.7,21,29.5,30C269.7,177.5,223.4,224.7,176.9,272z"/>
          </g>
        </g>
        </svg>
      </button>
    </div>
  </ion-content>
</ion-view>
