<ion-view ng-controller="DriversCtrl" class="driverPage">
  <ion-content>
    <div class="driverPage-top driver-box">
      <div class="bid-btn">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 19.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 76.2 93.8" style="enable-background:new 0 0 76.2 93.8;" xml:space="preserve">
          <g>
            <path class="st0" d="M19.3,57c1.6,5.4,3,10.6,4.5,15.8c0.7,2.6,1.5,5.2,2.1,7.8c0.6,2.5,2.1,3.8,4.3,3.6c2.1-0.2,3.6-1.8,3.6-4.3
              c0.1-5,0-10,0-15.1c0-1,0-1.9,0-2.9c0.1-3.1,2.1-5.1,4.8-5.1c2.7,0,4.8,2.2,4.9,5.2c0.1,6,0,12,0,17.9c0,2.2,1,3.7,3.2,4.2
              c2.3,0.5,3.9-0.8,4.6-3.4c2.1-7.4,4.2-14.9,6.3-22.3c0.1-0.4,0.4-0.9,0.5-1.3c6.4,1,17.4,8.1,18.1,16.1c0.5,4.8,0.4,9.7,0.2,14.5
              c-0.1,3-3.1,5.5-6.1,5.9c-1.2,0.2-2.4,0.2-3.6,0.2c-18.8,0-37.6,0-56.5,0c-7.2,0-9.9-2.7-9.9-10c0-2.1,0-4.1,0-6.2
              c-0.1-5.3,1.7-9.8,5.6-13.5C9.8,60.8,14.1,58.4,19.3,57z"/>
            <path class="st0" d="M59.2,21.8c-0.4,7.5-2.7,14.4-7.4,20.3c-7.3,9.1-18.7,9.3-26,0.2c-6-7.5-8.7-16.1-7.1-25.7
              C20.5,5.8,30.4-1,41.8,0.3C51.8,1.5,59.7,11.2,59.2,21.8z"/>
          </g>
          </svg>
      </div>

      <div class="driver-info">
        <h1>j statham</h1>
        <h2>DRIVER ID00549</h2>
        <rating ng-model="driver.driver_rating" max="5" readonly="true"></rating>
      </div>

      <div class="driver-status">
        status
        <span ng-show="!toggleStatus">not for hire</span>
        <span ng-show="toggleStatus">for hire</span>

        <label class="toggle">
          <input type="checkbox" ng-model="toggleStatus">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>

    <div class="driverPage-content driver-box">
      <div class="driverPage-content-item">
        <div class="bid-btn">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 135 47" style="enable-background:new 0 0 135 47;" xml:space="preserve">
          <g>
            <g>
              <path class="st0" d="M80.5-0.1c5.4,0,10.8,0.5,16.2,1.4c7.2,1.2,14.1,3.1,21.1,5.1c2.9,0.8,5.7,1.8,8.5,2.6
                c1.4,0.4,2.8,0.6,4.3,0.6c0.2,0,0.5,0,0.7,0.1c0.8,0.1,1,0.4,1,1.1c0,0.7-0.2,0.9-1,1c-1.1,0.2-1.1,0.2-1.1,1.2
                c0,2.1,0.5,4.2,0.9,6.3c0.3,1.3,0.6,2.6,0.7,4c0.1,0.6,0.3,1.2,0.8,1.6c1.5,1.5,2.2,3.3,2.5,5.4c0.2,1.4,0.1,2.7-0.3,4
                c-0.3,0.9-0.9,1.5-1.7,1.7c-0.7,0.2-1.2,0.6-1.5,1.3c-0.3,0.8-0.9,1.1-1.8,1.3c-2.3,0.4-4.5,0.8-6.8,1.1c-0.2,0-0.4,0-0.6,0
                c-0.4,0-0.5-0.2-0.6-0.5c0-0.2,0-0.3,0-0.5c0-0.3-0.1-0.5-0.4-0.5c-0.3,0-0.5,0.2-0.5,0.4c0,0.2-0.1,0.3-0.1,0.5
                c-1,4.6-4.6,7.2-9.2,7.4c-2.1,0.1-4.2-0.2-6.1-1.3c-1.5-0.8-2.6-2-3.3-3.6c-0.2-0.5-0.5-0.6-1-0.6c-3.9,0-7.8,0-11.8,0
                c-6.4,0-12.9,0.1-19.3,0C60.1,41,50,41,39.9,41c-1,0-2-0.1-3-0.2c-1.1-0.1-2,0.1-2.6,1.1c-2.5,3.8-6.2,4.9-10.5,4.4
                c-2.5-0.2-4.7-1.2-6.4-3.2c-0.4-0.5-0.8-1.1-1.1-1.7c-0.2-0.4-0.5-0.6-1-0.6c-3.2-0.2-6.3-0.4-9.5-0.7C5,40.1,4.2,40,3.5,39.7
                c-2-0.6-2.8-1.6-3-3.7c-0.2-1.5-0.1-3,0.2-4.5c0.4-2.4,1-4.7,2-6.9C3.4,23,4.5,21.9,6,21c3.6-2,7.4-3.5,11.3-4.7
                c3.6-1.1,7.2-1.9,10.9-2.4c2.5-0.4,4.8-1.4,7.1-2.5C42.6,8.1,50,5.1,57.8,2.8c4.3-1.2,8.6-2,13.1-2.5c2.5-0.3,5.1-0.4,7.6-0.4
                C79.2-0.1,79.8-0.2,80.5-0.1z"/>
            </g>
          </g>
          </svg>
        </div>

        <div class="driver-info">
          <h1>prius</h1>
          <h2>seats</h2>
          <p>
            <i class="ion-person"></i>
            <i class="ion-person"></i>
            <i class="ion-person"></i>
            <i class="ion-person"></i>
            <i class="ion-person"></i>
          </p>
        </div>
      </div>

      <div class="driverPage-content-item">
        <div class="bid-btn">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 40 92" style="enable-background:new 0 0 40 92;" xml:space="preserve">
          <g>
            <path class="st0" d="M38.4,82.3c-0.7,0.2-1.3,0.4-2,0.5c-2.3,0.3-4.6,0.8-6.8,0.6c-3.5-0.3-5-2.3-4.6-5.8c0.2-2.1,0.5-4.3,1-6.3
              c1.7-6.7,3.8-13.3,5.4-20c0.7-3.2,0.9-6.6,0.8-9.9c-0.2-5.5-5.5-9.6-11.8-10.1C14.2,30.8,8.6,32.8,3,35c-2.3,0.9-3.4,3-2.9,5.7
              c0.6-0.2,1.2-0.4,1.8-0.5c1.6-0.3,3.1-0.8,4.7-0.8c5-0.2,6.8,1.4,6.3,6.3c-0.4,4.1-1.5,8.2-2.5,12.2c-1.7,6.8-4.2,13.4-4.8,20.4
              c-0.4,5.4,2.2,10.1,7.2,12.1c5.1,2.1,10.4,1.7,15.6,0.2c2.1-0.7,4.2-1.5,6.3-2.3C37.8,87.1,38.6,86,38.4,82.3z M28.7,21.3
              c4.8,0,9.1-2.7,10.6-6.9C41.4,9,38.6,2.9,33,0.9c-6.1-2.2-13,0.7-15.1,6.3C15.3,14.3,20.7,21.4,28.7,21.3z"/>
            <path d="M38.4,82.3c0.2,3.7-0.6,4.9-3.6,6c-2.1,0.8-4.2,1.7-6.3,2.3c-5.2,1.6-10.4,1.9-15.6-0.2c-5-2-7.6-6.7-7.2-12.1
              c0.6-7.1,3.1-13.6,4.8-20.4c1-4,2.1-8.1,2.5-12.2c0.5-4.9-1.4-6.5-6.3-6.3c-1.6,0.1-3.1,0.5-4.7,0.8c-0.6,0.1-1.2,0.3-1.8,0.5
              C-0.4,38,0.7,35.9,3,35c5.6-2.2,11.2-4.2,17.4-3.7c6.4,0.5,11.6,4.7,11.8,10.1c0.1,3.3-0.1,6.7-0.8,9.9c-1.6,6.7-3.6,13.3-5.4,20
              c-0.5,2.1-0.8,4.2-1,6.3c-0.3,3.5,1.1,5.5,4.6,5.8c2.2,0.2,4.5-0.4,6.8-0.6C37,82.7,37.6,82.5,38.4,82.3z"/>
            <path d="M28.7,21.3c-8,0-13.4-7-10.8-14.1c2.1-5.7,9-8.6,15.1-6.3c5.6,2,8.4,8.1,6.4,13.6C37.8,18.6,33.5,21.3,28.7,21.3z"/>
          </g>
          </svg>
        </div>

        <div class="driver-info">
          <h1>news</h1>
          <h2>fire in hoxton sq</h2>
          <h3>More Derails</h3>
        </div>
      </div>

      <div class="driverPage-content-item">
        <div class="bid-btn">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 104 107" style="enable-background:new 0 0 104 107;" xml:space="preserve">
          <g>
            <path d="M51.6,67.9c-10,0-20,0-30,0C9.8,67.8,2,61.9,0.3,51.8c-1.8-10.4,3.2-18.2,14-22.7c1.4-0.6,2.8-2.4,3.2-3.9
              c2.5-10.4,8.7-14.8,19.4-13.8c1.7,0.2,4.1-0.7,5.4-2c7.8-7.9,17.1-10.3,27.5-7c10.4,3.4,16.2,11.1,17.8,22c0.3,2,2.1,4.5,3.9,5.5
              c9.2,5,13.3,13.6,10.9,23.4c-2.1,8.4-9.8,14.2-19.5,14.3C72.4,68,62,67.9,51.6,67.9z"/>
            <path d="M36,91.2c0.3,3.6,1.2,7.3,0.6,10.8c-0.3,2-2.8,4.1-4.9,5.2c-1.1,0.5-4.2-0.8-4.7-2c-0.8-1.9-1.1-4.9-0.1-6.5
              c1.8-3,4.7-5.3,7.2-8C34.8,90.9,35.4,91,36,91.2z"/>
            <path d="M52.9,76.8c0.3,3.4,1.4,6.9,0.8,10c-0.4,2.3-2.8,4.5-4.9,5.9c-0.8,0.6-4.2-0.9-4.7-2c-0.8-2.1-0.9-5.1,0-7.1
              c1.4-3,3.9-5.5,6-8.3C51.1,75.8,52,76.3,52.9,76.8z"/>
            <path d="M25.7,76.9c0,3.8,0.9,7.8-0.3,11.2c-0.7,2.1-4.5,3.1-7,4.7c-0.9-2.7-3.3-6.1-2.5-8.1c1.4-3.3,4.8-5.7,7.4-8.5
              C24.1,76.5,24.9,76.7,25.7,76.9z"/>
            <path d="M64.4,91.3c0,3.9,0.8,8-0.3,11.6c-0.6,2-4.3,3-6.6,4.5c-1.1-2.4-3.8-5.5-3.1-7.2c1.6-3.6,4.8-6.6,7.4-9.8
              C62.7,90.7,63.5,91,64.4,91.3z"/>
            <path d="M80.8,76.7c0.3,3.7,1.4,7.6,0.4,11c-0.6,2.2-4.5,5.1-6.6,4.9c-4.3-0.5-4.9-4.8-3.1-8c1.7-3.1,4.6-5.4,7-8.1
              C79.3,76.5,80.1,76.6,80.8,76.7z"/>
          </g>
          </svg>
        </div>

        <div class="driver-info">
          <h1>weather</h1>
          <h2>rain / 12 <sup>0</sup> c</h2>
          <h3>More Derails</h3>
        </div>
      </div>

      <div class="driverPage-content-item">
        <div class="bid-btn">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 119 105" style="enable-background:new 0 0 119 105;" xml:space="preserve">
          <g>
            <path d="M112.1,104.7c-34.6,0-69.3,0-103.9,0c-0.2-0.1-0.4-0.2-0.6-0.2c-5.8-1.2-8.3-6.8-5.3-11.9c17-29.5,34-58.9,51.1-88.3
              c0.7-1.2,1.8-2.2,3-3c0.9-0.6,2-0.8,3.1-1.2c0.5,0,1.1,0,1.6,0c3.2,0.7,5.2,2.6,6.8,5.5c13,22.7,26.2,45.3,39.3,68
              c3.7,6.4,7.4,12.7,11,19.1c2.9,5.1,0.4,10.7-5.3,11.9C112.5,104.5,112.3,104.6,112.1,104.7z M107.1,94.2
              C91.4,67.1,75.9,40.2,60.2,13C44.5,40.2,28.9,67.2,13.2,94.2C44.6,94.2,75.7,94.2,107.1,94.2z"/>
            <path d="M20.7,91.3c0.2-0.4,0.3-0.6,0.4-0.9c4-6.9,8-13.7,12-20.5c1.8-3,6-3,7.8,0.1c0.9,1.6,2.1,2.8,4,3.1
              c0.7,0.1,1.4,0.8,2.3,1.4c0.8-0.5,1.8-1.1,2.8-1.8c0.2-0.1,0.5-0.4,0.5-0.6c0-3,1.9-5.3,2.8-8c0.5-1.5,0.7-2.8,0.3-4.3
              c-0.4-1.4-0.5-3-0.8-4.5c-0.3-2,0.2-3.7,1.9-5c0.4-0.3,0.5-0.8,0.8-1.2c-0.4-0.2-0.9-0.5-1.3-0.7c-1-0.4-2.2-0.6-3.1-1.3
              c-2.3-1.6-2.6-4.4-0.8-6.5c1.6-1.9,4.7-2.1,6.6-0.2c1.4,1.4,2,3.1,2,5.4c0.7-0.3,1.3-0.5,1.7-0.8c4.8-3.9,9.7-2.3,14.6-0.1
              c0.7,0.3,1.4,1.3,1.7,2.1c0.6,2.1,1,4.3,1.5,6.5c0.2,0.7,0.6,1.4,0.9,2.1c0.3,0.6,0.8,1.4,0.6,1.9c-0.4,0.9-1.2,1.7-2.4,1.5
              c-1.7-0.4-1.7-0.2-1.3,1.4c1,3.8,1.8,7.7,2.7,11.6c0.2,1.1,0.3,2.1,1.8,2.1c0.4,0,0.8,0.5,1.1,0.9c1.7,1.9,3.3,3.9,5,5.7
              c0.8,0.9,1.8,1.6,2.8,2.2c0.8,0.5,0.9,0.9,0.5,1.7c-1,1.7-2,3.4-3,5.1c-1,1.6-2.5,2-4.6,1.3c0.3-0.4,0.5-0.8,0.8-1.2
              c1.6-2,1.4-3.8-0.5-5.3c-2.6-2.1-5.3-4.2-7.9-6.4c-0.6-0.5-1.2-1.2-1.5-2c-1.2-2.8-2.2-5.6-3.4-8.6c-0.2,0.3-0.3,0.4-0.4,0.6
              c-1.3,2.2-2.7,4.4-4.1,6.6c-0.6,0.9-0.8,1.7-0.2,2.7c0.2,0.3,0.2,0.7,0.2,1c-0.5,3.9-1.1,7.9-1.6,11.8c-0.1,0.8-0.5,1.2-1.3,1.2
              c-2.7,0-5.4,0-8,0c-0.4,0-0.7-0.4-1.1-0.6c0.3-0.3,0.6-0.7,0.9-1c0,0,0.1,0,0.1,0c1.1-0.4,2.6-0.5,3.3-1.3c0.6-0.7,0.3-2.2,0.4-3.4
              c0.1-2.2,0.3-4.5,0.4-6.7c0.1-2.9,0.4-5.8,1.6-8.5c0.1-0.2,0.1-0.4,0.2-0.9c-1.6,1-2.9,1.8-4.2,2.7c-0.1,0.1-0.3,0.2-0.3,0.4
              c-0.4,2.1-2.1,2.1-3.7,2.5c-0.9,0.2-1.7,0.8-2.6,1.3c-1.8,1.1-1.8,1.1-1.2,3.2c1,3.6,2.1,7.3,3.1,10.9c0.3,1,0.1,1.4-1,1.4
              c-9.6,0-19.3,0-28.9,0C21.1,91.4,21,91.4,20.7,91.3z M55.3,69.1c0.1,0.1,0.2,0.2,0.3,0.2c1.9-1.2,4-2.2,5.7-3.7
              c0.9-0.7,1.7-2.5,1.5-3.3c-0.7-1.9-2.3-3.3-4.5-4.4C59,62.2,57.7,65.8,55.3,69.1z M74.8,57.2c0.1,0,0.2,0,0.4,0.1
              c0.1-0.4,0.3-0.8,0.2-1.2c-0.6-2.3-1.2-4.6-1.9-6.8c-0.1-0.4-0.5-1-0.8-1c-1.1-0.1-2.3,0-3.7,0C71.1,51.4,72.9,54.3,74.8,57.2z"/>
          </g>
          </svg>
        </div>

        <div class="driver-info">
          <h1>traffic</h1>
          <h2>roadworks in sw10</h2>
          <h3>More Derails</h3>
        </div>
      </div>
    </div>

    <div class="driverPage-footer">
      <div class="driverPage-footer-left">
        <span>jobs</span>
        manage your jobs
      </div>
      <div class="driverPage-footer-right">
        <button class="bid-btn">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 84 84" style="enable-background:new 0 0 84 84;" xml:space="preserve">
          <g>
            <path class="x" d="M41.1,54.5c-6,0-11.9,0-17.9,0c-1.7,0-2.9-0.7-3.5-2.2c-0.4-1.2-0.8-2.4-0.9-3.6c-0.3-2.4-0.2-4.8,0.6-7.1
              c0.5-1.3,1.2-2.4,2.7-2.9c0.3-0.1,0.5-0.5,0.6-0.8c0.9-2.8,1.8-5.6,2.7-8.4c0.7-2.2,2.3-3.6,4.5-4.3c0.5-0.1,1-0.2,1.5-0.2
              c0.9,0,1.7,0,2.6,0c0.5,0,0.7-0.2,0.7-0.7c0-0.7,0-1.3,0-2c0-1.7,1-2.7,2.8-2.8c2.4,0,4.7,0,7.1,0c1.7,0,2.7,1,2.8,2.7
              c0,0.7,0,1.4,0,2c0,0.5,0.2,0.7,0.7,0.7c0.8,0,1.7,0,2.5,0c2.9,0,5.4,1.8,6.2,4.6c0.8,2.7,1.7,5.4,2.5,8.1c0.1,0.5,0.4,0.7,0.9,1
              c0.6,0.3,1.3,0.7,1.7,1.3c1.1,1.4,1.3,3.2,1.4,5c0.1,1.9,0.1,3.7-0.4,5.6c-0.2,0.8-0.5,1.5-0.8,2.2c-0.6,1.1-1.6,1.7-3,1.7
              C53.1,54.5,47.1,54.5,41.1,54.5z M41,29C41,29,41,29,41,29c-3.2,0-6.3,0-9.5,0c-1.2,0-2.1,0.7-2.5,1.8c-0.7,2.1-1.3,4.2-2,6.4
              c-0.4,1.4-0.4,1.4,1.1,1.4c2.6,0,5.2,0,7.8,0c2.9,0,5.9,0,8.8-0.1c0.9,0,1.8,0,2.7,0c1.2,0,2.5,0.1,3.7,0.1c1,0,2,0,3,0
              c0.9,0,1-0.2,0.7-1c-0.7-2.2-1.3-4.3-2-6.5c-0.5-1.5-1.3-2.1-2.9-2.1C47.1,29,44.1,29,41,29z M28.2,44.1
              C28.2,44.1,28.2,44.1,28.2,44.1c-0.6,0-1.2,0-1.8,0c-1.3,0-2,0.8-2.1,2c0,0.6,0,1.2,0,1.8c0,1.2,0.8,2,1.9,2c1.3,0.1,2.6,0.1,3.9,0
              c1.2-0.1,1.9-0.9,1.9-2.1c0-0.6,0-1.2,0-1.8c-0.1-1.2-0.8-1.9-2-2C29.4,44,28.8,44.1,28.2,44.1z M53.8,44.1c-0.6,0-1.2,0-1.8,0
              c-1.1,0-1.9,0.8-2,2c0,0.6,0,1.2,0,1.8c0,1.3,0.7,2.1,2,2.2c1.2,0.1,2.5,0.1,3.8,0c1.1,0,1.9-0.8,2-1.9c0.1-0.7,0.1-1.4,0-2.2
              c-0.1-1.1-0.9-1.8-2-1.9C55.1,44,54.4,44.1,53.8,44.1z"/>
            <path class="x" d="M26.9,55.5c0.9,0,1.9,0,2.8,0c0.5,0,0.8,0.2,0.8,0.8c0,1.5,0,3.1,0,4.6c0,1-0.5,1.5-1.6,1.5
              c-1.4,0-2.7,0-4.1,0c-1,0-1.5-0.5-1.5-1.6c0-1.5,0-3,0-4.5c0-0.7,0.1-0.9,0.9-0.9C25.2,55.5,26,55.5,26.9,55.5
              C26.9,55.5,26.9,55.5,26.9,55.5z"/>
            <path class="x" d="M55.1,55.5c0.9,0,1.8,0,2.7,0c0.6,0,0.9,0.2,0.9,0.8c0,1.5,0,3,0,4.5c0,1-0.5,1.5-1.6,1.5c-1.3,0-2.7,0-4,0
              c-1,0-1.6-0.5-1.6-1.6c0-1.5,0-3,0-4.5c0-0.6,0.2-0.8,0.8-0.8C53.3,55.6,54.2,55.5,55.1,55.5z"/>
          </g>
          <path class="x" d="M49.2,46.4H35.6c-0.4,0-0.8-0.4-0.8-0.8v0c0-0.4,0.4-0.8,0.8-0.8h13.6c0.4,0,0.8,0.4,0.8,0.8v0
            C50,46,49.7,46.4,49.2,46.4z"/>
          <path class="x" d="M49.2,48.7H35.6c-0.4,0-0.8-0.4-0.8-0.8v0c0-0.4,0.4-0.8,0.8-0.8h13.6c0.4,0,0.8,0.4,0.8,0.8v0
            C50,48.3,49.7,48.7,49.2,48.7z"/>
          </svg>
          <span>ride now</span>
        </button>
        <div class="bid-btn">
          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 19.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg version="1.1" id="calendar" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 138 123" style="enable-background:new 0 0 138 123;" xml:space="preserve">
          <g>
            <rect x="-1" class="st0" width="137.6" height="123"/>
            <rect x="5.4" y="42.8" class="st1" width="16.4" height="16.4"/>
            <rect x="23.4" y="42.8" class="st1" width="16.4" height="16.4"/>
            <rect x="41.5" y="42.8" class="st1" width="16.4" height="16.4"/>
            <rect x="59.6" y="42.8" class="st1" width="16.4" height="16.4"/>
            <rect x="77.7" y="42.8" class="st1" width="16.4" height="16.4"/>
            <rect x="95.7" y="42.8" class="st1" width="16.4" height="16.4"/>
            <rect x="113.8" y="42.8" class="st1" width="16.4" height="16.4"/>
            <rect x="5.4" y="60.1" class="st1" width="16.4" height="16.4"/>
            <rect x="23.4" y="60.1" class="st1" width="16.4" height="16.4"/>
            <rect x="41.5" y="60.1" class="st1" width="16.4" height="16.4"/>
            <rect x="59.6" y="60.1" class="st1" width="16.4" height="16.4"/>
            <rect x="77.7" y="60.1" class="st1" width="16.4" height="16.4"/>
            <rect x="95.7" y="60.1" class="st1" width="16.4" height="16.4"/>
            <rect x="113.8" y="60.1" class="st1" width="16.4" height="16.4"/>
            <rect x="5.4" y="77.4" class="st1" width="16.4" height="16.4"/>
            <rect x="23.4" y="77.4" class="st1" width="16.4" height="16.4"/>
            <rect x="41.5" y="77.4" class="st1" width="16.4" height="16.4"/>
            <rect x="59.6" y="77.4" class="st1" width="16.4" height="16.4"/>
            <rect x="77.7" y="77.4" class="st1" width="16.4" height="16.4"/>
            <rect x="95.7" y="77.4" class="st1" width="16.4" height="16.4"/>
            <rect x="113.8" y="77.4" class="st1" width="16.4" height="16.4"/>
            <rect x="5.4" y="94.8" class="st1" width="16.4" height="16.4"/>
            <rect x="23.4" y="94.8" class="st1" width="16.4" height="16.4"/>
            <rect x="41.5" y="94.8" class="st1" width="16.4" height="16.4"/>
            <rect x="59.6" y="94.8" class="st1" width="16.4" height="16.4"/>
            <rect x="77.7" y="94.8" class="st1" width="16.4" height="16.4"/>
            <rect x="95.7" y="94.8" class="st1" width="16.4" height="16.4"/>
            <rect x="113.8" y="94.8" class="st1" width="16.4" height="16.4"/>
            <rect x="8.1" y="29.2" class="st2" width="18.2" height="17.3"/>
            <text transform="matrix(1 0 0 1 8.1114 38.2119)" class="st1 st3 st4 st5">M</text>
            <rect x="28.2" y="29.2" class="st2" width="18.2" height="17.3"/>
            <text transform="matrix(1 0 0 1 28.1553 38.2119)" class="st1 st3 st4 st5">T</text>
            <rect x="43.6" y="29.2" class="st2" width="18.2" height="17.3"/>
            <text transform="matrix(1 0 0 1 43.6446 38.2119)" class="st1 st3 st4 st5">W</text>
            <rect x="65.5" y="29.2" class="st2" width="18.2" height="17.3"/>
            <text transform="matrix(1 0 0 1 65.5108 38.2119)" class="st1 st3 st4 st5">T</text>
            <rect x="83.7" y="29.2" class="st2" width="18.2" height="17.3"/>
            <text transform="matrix(1 0 0 1 83.7334 38.2119)" class="st1 st3 st4 st5">F</text>
            <rect x="101" y="29.2" class="st2" width="18.2" height="17.3"/>
            <text transform="matrix(1 0 0 1 101.045 38.2119)" class="st1 st3 st4 st5">S</text>
            <rect x="116.5" y="29.2" class="st2" width="18.2" height="17.3"/>
            <text transform="matrix(1 0 0 1 116.5332 38.2119)" class="st1 st3 st4 st5">S</text>
            <circle class="st1" cx="41" cy="10.5" r="3.8"/>
            <circle class="st1" cx="95.5" cy="10.5" r="3.8"/>
            <g>
              <line class="st6" x1="59.6" y1="42.8" x2="76.4" y2="59.7"/>
              <line class="st6" x1="76" y1="42.8" x2="59.1" y2="59.7"/>
            </g>
            <g>
              <line class="st6" x1="24.1" y1="60.1" x2="40.9" y2="77"/>
              <line class="st6" x1="40.5" y1="60.1" x2="23.6" y2="77"/>
            </g>
            <g>
              <line class="st6" x1="77.8" y1="77.4" x2="94.7" y2="94.3"/>
              <line class="st6" x1="94.2" y1="77.4" x2="77.4" y2="94.3"/>
            </g>
          </g>
          </svg>
          <span>pre-booked</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
