<ion-view class="driver notify">
  <ion-content>
    <h1 class="driver-title">guardians</h1>

    <div class="notify-content">
      <div class="notify-content-item">
        <button class="bef-btn">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">
            <g id="APP_BADGE">
              <g>
                <path class="fill-white" stroke="#FFFFFF" stroke-width="2.25" stroke-miterlimit="10" d="M145.7,24.8h106.1c35.2,0,52.8,0,71.7,6
                  c20.7,7.5,37,23.8,44.5,44.5c6,18.9,6,36.5,6,71.7V253c0,35.2,0,52.8-6,71.7c-7.5,20.7-23.8,37-44.5,44.5c-18.9,6-36.5,6-71.7,6
                  H145.7c-35.2,0-52.8,0-71.7-6c-20.7-7.5-37-23.8-44.5-44.5c-6-18.9-6-36.5-6-71.7V147c0-35.2,0-52.8,6-71.7
                  C37,54.6,53.3,38.3,74,30.8C92.9,24.8,110.5,24.8,145.7,24.8L145.7,24.8"/>
              </g>
            </g>
            <g id="DRIVER">
              <g>
                <g>
                  <path class="fill-black" d="M82.6,157.5c0-18.3,0.1-36.6-0.1-54.8c0-3.4,1-5.5,4-7.2c28.1-16.5,58-28,90.5-32.1
                    c25.2-3.1,50-0.5,74.3,6.7c20.5,6.1,39.9,14.6,58.3,25.6c2.7,1.6,3.8,3.5,3.8,6.7c-0.1,35.3,0.1,70.7-0.1,106
                    c-0.2,33.2-12.6,61.7-34.4,86.3c-21.5,24.3-48.1,41.6-77.5,54.9c-2.2,1-4.1,1.1-6.3,0.1c-27.1-12.8-51.9-28.9-72.7-50.5
                    C102,278,87.8,253.5,83.8,223.9c-0.7-5.1-1-10.4-1.1-15.6C82.6,191.4,82.7,174.4,82.6,157.5C82.7,157.5,82.7,157.5,82.6,157.5z"
                    />
                </g>
              </g>
              <g>
                <path class="fill-white" d="M166.3,199.6c14-5.9,46.6-6.2,65.1,0.3c13,4.3,29.1,13.5,30.3,27c0.8,8.1,0.7,16.2,0.4,24.3
                  c-0.2,5-5.1,9.1-10.2,9.9c-2,0.3-4,0.3-6,0.3c-31.5,0-63,0-94.4,0c-12.1,0-16.5-4.5-16.5-16.7c0-3.5,0-6.9,0-10.4
                  c-0.1-8.8,2.8-16.4,9.4-22.5C150.5,206.1,157.6,202.1,166.3,199.6z"/>
                <path class="fill-white" d="M233,140.8c-0.7,12.5-4.4,24-12.4,33.9c-12.2,15.2-31.3,15.5-43.5,0.4c-10-12.5-14.6-27-11.8-42.9
                  c3.1-18.1,19.7-29.5,38.6-27.3C220.7,106.8,234,123.1,233,140.8z"/>
              </g>
            </g>
            </svg>
        </button>
        <span class="notify-content-item-info">
          <span>mum</span>notify
        </span>
      </div>
      <div class="notify-content-item">
        <button class="bef-btn">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">
            <g id="APP_BADGE">
              <g>
                <path class="fill-white" stroke="#FFFFFF" stroke-width="2.25" stroke-miterlimit="10" d="M145.7,24.8h106.1c35.2,0,52.8,0,71.7,6
                  c20.7,7.5,37,23.8,44.5,44.5c6,18.9,6,36.5,6,71.7V253c0,35.2,0,52.8-6,71.7c-7.5,20.7-23.8,37-44.5,44.5c-18.9,6-36.5,6-71.7,6
                  H145.7c-35.2,0-52.8,0-71.7-6c-20.7-7.5-37-23.8-44.5-44.5c-6-18.9-6-36.5-6-71.7V147c0-35.2,0-52.8,6-71.7
                  C37,54.6,53.3,38.3,74,30.8C92.9,24.8,110.5,24.8,145.7,24.8L145.7,24.8"/>
              </g>
            </g>
            <g id="DRIVER">
              <g>
                <g>
                  <path class="fill-black" d="M82.6,157.5c0-18.3,0.1-36.6-0.1-54.8c0-3.4,1-5.5,4-7.2c28.1-16.5,58-28,90.5-32.1
                    c25.2-3.1,50-0.5,74.3,6.7c20.5,6.1,39.9,14.6,58.3,25.6c2.7,1.6,3.8,3.5,3.8,6.7c-0.1,35.3,0.1,70.7-0.1,106
                    c-0.2,33.2-12.6,61.7-34.4,86.3c-21.5,24.3-48.1,41.6-77.5,54.9c-2.2,1-4.1,1.1-6.3,0.1c-27.1-12.8-51.9-28.9-72.7-50.5
                    C102,278,87.8,253.5,83.8,223.9c-0.7-5.1-1-10.4-1.1-15.6C82.6,191.4,82.7,174.4,82.6,157.5C82.7,157.5,82.7,157.5,82.6,157.5z"
                    />
                </g>
              </g>
              <g>
                <path class="fill-white" d="M166.3,199.6c14-5.9,46.6-6.2,65.1,0.3c13,4.3,29.1,13.5,30.3,27c0.8,8.1,0.7,16.2,0.4,24.3
                  c-0.2,5-5.1,9.1-10.2,9.9c-2,0.3-4,0.3-6,0.3c-31.5,0-63,0-94.4,0c-12.1,0-16.5-4.5-16.5-16.7c0-3.5,0-6.9,0-10.4
                  c-0.1-8.8,2.8-16.4,9.4-22.5C150.5,206.1,157.6,202.1,166.3,199.6z"/>
                <path class="fill-white" d="M233,140.8c-0.7,12.5-4.4,24-12.4,33.9c-12.2,15.2-31.3,15.5-43.5,0.4c-10-12.5-14.6-27-11.8-42.9
                  c3.1-18.1,19.7-29.5,38.6-27.3C220.7,106.8,234,123.1,233,140.8z"/>
              </g>
            </g>
            </svg>
        </button>
        <span class="notify-content-item-info">
          <span>dad</span>notify
        </span>
      </div>
    </div>

    <div class="driver-box">
      <div class="bid-btn">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 19.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 76.2 93.8" style="enable-background:new 0 0 76.2 93.8;" xml:space="preserve">
          <g>
            <path class="st0" d="M19.3,57c1.6,5.4,3,10.6,4.5,15.8c0.7,2.6,1.5,5.2,2.1,7.8c0.6,2.5,2.1,3.8,4.3,3.6c2.1-0.2,3.6-1.8,3.6-4.3
              c0.1-5,0-10,0-15.1c0-1,0-1.9,0-2.9c0.1-3.1,2.1-5.1,4.8-5.1c2.7,0,4.8,2.2,4.9,5.2c0.1,6,0,12,0,17.9c0,2.2,1,3.7,3.2,4.2
              c2.3,0.5,3.9-0.8,4.6-3.4c2.1-7.4,4.2-14.9,6.3-22.3c0.1-0.4,0.4-0.9,0.5-1.3c6.4,1,17.4,8.1,18.1,16.1c0.5,4.8,0.4,9.7,0.2,14.5
              c-0.1,3-3.1,5.5-6.1,5.9c-1.2,0.2-2.4,0.2-3.6,0.2c-18.8,0-37.6,0-56.5,0c-7.2,0-9.9-2.7-9.9-10c0-2.1,0-4.1,0-6.2
              c-0.1-5.3,1.7-9.8,5.6-13.5C9.8,60.8,14.1,58.4,19.3,57z"/>
            <path class="st0" d="M59.2,21.8c-0.4,7.5-2.7,14.4-7.4,20.3c-7.3,9.1-18.7,9.3-26,0.2c-6-7.5-8.7-16.1-7.1-25.7
              C20.5,5.8,30.4-1,41.8,0.3C51.8,1.5,59.7,11.2,59.2,21.8z"/>
          </g>
          </svg>
      </div>

      <div class="driver-info">
        <h1>J Statham</h1>
        <h2>DRIVER ID01515</h2>
        <rating ng-model="driver.driver_rating" max="5" readonly="true"></rating>
      </div>

      <div class="driver-time">
        5min
      </div>

      <div class="driver-bid">
        &#163;08.80
      </div>
    </div>

    <div class="driver-content">
      <div class="driver-content-item">
        <div class="driver-content-item-top">
          <h1>from:</h1>
          <h2>South Lambeth Road</h2>
          <h2>London</h2>
          <h3>sw8 1ss</h3>
        </div>
        <div class="driver-content-item-bottom">
          <h2>est time: <span><b>16 min</b> 2.9 miles</span></h2>
        </div>
      </div>
      <div class="driver-content-item">
        <div class="driver-content-item-top">
          <h1>to:</h1>
          <h2>Wellington Club</h2>
          <h2>116A Knightsbridge</h2>
          <h2>London</h2>
          <h3>sw1x 7pl</h3>
        </div>
        <div class="driver-content-item-bottom">
          <h2>traffic: <span><b>no delays</b> reported</span></h2>
        </div>
      </div>


      <button class="bef-btn">
        <?xml version="1.0" encoding="utf-8"?>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">
          <g id="APP_BADGE">
            <g>
              <path class="fill-white" stroke="#FFFFFF" stroke-width="2.25" stroke-miterlimit="10" d="M145.7,24.8h106.1c35.2,0,52.8,0,71.7,6
                c20.7,7.5,37,23.8,44.5,44.5c6,18.9,6,36.5,6,71.7V253c0,35.2,0,52.8-6,71.7c-7.5,20.7-23.8,37-44.5,44.5c-18.9,6-36.5,6-71.7,6
                H145.7c-35.2,0-52.8,0-71.7-6c-20.7-7.5-37-23.8-44.5-44.5c-6-18.9-6-36.5-6-71.7V147c0-35.2,0-52.8,6-71.7
                C37,54.6,53.3,38.3,74,30.8C92.9,24.8,110.5,24.8,145.7,24.8L145.7,24.8"/>
            </g>
          </g>
          <g id="DRIVER">
            <g>
              <g>
                <path class="fill-black" d="M158.5,203.4c0-6.3,0-12.7,0-19c0-1.2,0.4-1.9,1.4-2.5c9.7-5.7,20.1-9.7,31.3-11.1
                  c8.7-1.1,17.3-0.2,25.7,2.3c7.1,2.1,13.8,5.1,20.2,8.8c0.9,0.6,1.3,1.2,1.3,2.3c0,12.2,0,24.5,0,36.7
                  c-0.1,11.5-4.4,21.4-11.9,29.9c-7.5,8.4-16.7,14.4-26.8,19c-0.7,0.3-1.4,0.4-2.2,0c-9.4-4.4-18-10-25.2-17.5
                  c-7.1-7.3-12-15.8-13.3-26.1c-0.2-1.8-0.4-3.6-0.4-5.4C158.5,215.2,158.5,209.3,158.5,203.4C158.5,203.4,158.5,203.4,158.5,203.4
                  z"/>
              </g>
            </g>
            <g>
              <path class="fill-black" d="M197.1,47.5c9.9,0.6,18.7,1.4,27.4,3.4c15.8,3.7,30.1,10.4,43.1,20.1c4.1,3.1,7.9,6.8,11.8,10.2
                c1.3,1.2,1.3,2.3,0.1,3.5c-5.1,5.1-10.2,10.2-15.2,15.3c-1.2,1.2-2.2,1.1-3.4,0c-7-6.8-14.7-12.6-23.6-16.7
                c-4.9-2.2-10.1-4.1-15.3-5.7c-8.1-2.6-16.6-3.5-25.1-3.4c-6.4,0.1-12.7,1.1-18.9,2.4c-13.4,2.9-25.2,8.9-35.9,17.4
                c-2.3,1.8-4.4,3.9-6.6,5.9c-1.2,1.1-2.2,1.2-3.4,0c-5.1-5.1-10.2-10.3-15.4-15.4c-1.3-1.3-1-2.3,0.2-3.5
                c6.7-6.6,14.1-12.5,22.3-17.2c7.5-4.4,15.3-8.2,23.7-10.5c6.2-1.7,12.6-3.2,18.9-4.3C187.2,48.2,192.7,48,197.1,47.5z"/>
              <path class="fill-black" d="M198.3,85.8c10.2,0.5,19.9,2.4,29.4,6.3c9.4,3.8,17.6,9.5,24.9,16.4c1.4,1.3,0.9,2.4-0.1,3.4
                c-4.8,4.9-9.7,9.8-14.6,14.6c-1.5,1.5-2.6,1.5-4,0c-5.9-6.1-13.2-10-21.2-12.5c-6.7-2.1-13.8-2.7-20.7-1.7
                c-11.2,1.5-21.1,6-29.3,14c-1.8,1.8-2.3,1.8-4.2,0c-4.8-4.7-9.6-9.5-14.3-14.3c-1.4-1.4-1.3-2.7,0.5-4.1
                c4.7-3.7,9.3-7.5,14.2-10.8c6.7-4.4,14.2-7.2,22-8.9C186.6,87,192.5,86.6,198.3,85.8z"/>
              <path class="fill-black" d="M197.9,125.4c8.6,0.2,15.7,3.7,21.9,9.2c1.3,1.1,1.4,2.3,0.1,3.6c-6.4,6.1-12.7,12.3-19.1,18.4
                c-1.6,1.5-4.2,1.3-5.8-0.2c-6.3-6.2-12.6-12.4-18.9-18.6c-1.1-1-1.1-2,0-2.9c4.2-3.8,8.7-7,14.4-8.2
                C193,126.2,195.5,125.8,197.9,125.4z"/>
            </g>
            <g>
              <rect x="92.4" y="302.1" fill="none" width="212" height="49.2"/>
              <path class="fill-black" d="M107.8,302.1l7.2,24.2v-24.2h5.4v36.1h-5.8l-7.5-23.1v23.1h-5.4v-36.1H107.8z"/>
              <path class="fill-black" d="M149.4,301.6c2.4,0,4.4,0.8,6.1,2.5c1.7,1.7,2.5,3.7,2.5,6.1v19.7c0,2.4-0.8,4.4-2.5,6.1s-3.7,2.5-6.1,2.5
                c-2.4,0-4.4-0.8-6.1-2.5s-2.5-3.7-2.5-6.1v-19.7c0-2.4,0.8-4.4,2.5-6.1C145.1,302.5,147.1,301.6,149.4,301.6z M152.4,310.2
                c0-0.9-0.3-1.6-0.9-2.2c-0.6-0.6-1.3-0.9-2.2-0.9s-1.6,0.3-2.2,0.9s-0.9,1.3-0.9,2.2v19.7c0,0.9,0.3,1.6,0.9,2.2s1.4,0.9,2.2,0.9
                s1.6-0.3,2.2-0.9c0.6-0.6,0.9-1.3,0.9-2.2V310.2z"/>
              <path class="fill-black" d="M183.2,307.6h-5.8v-5.5h17v5.5h-5.7v30.6h-5.4V307.6z"/>
              <path class="fill-black" d="M219.8,338.1h-5.4v-36h5.4V338.1z"/>
              <path class="fill-black" d="M245.7,338.1h-5.4v-36.1h15.5v5.5h-10v9.8h7.3v5.5h-7.3V338.1z"/>
              <path class="fill-black" d="M282.4,323l-7.3-21h6l4,12.9l4-12.9h6l-7.3,21v15.1h-5.4V323z"/>
            </g>
            <g>
              <line fill="none" class="stroke-black" stroke-width="3" stroke-miterlimit="10" x1="101" y1="289.5" x2="295" y2="289.5"/>
            </g>
            <g>
              <path class="fill-white" d="M188.1,218c4.8-2.1,16.1-2.2,22.5,0.1c4.5,1.5,10.1,4.7,10.5,9.3c0.3,2.8,0.3,5.6,0.1,8.4
                c-0.1,1.7-1.8,3.2-3.5,3.4c-0.7,0.1-1.4,0.1-2.1,0.1c-10.9,0-21.8,0-32.7,0c-4.2,0-5.7-1.6-5.7-5.8c0-1.2,0-2.4,0-3.6
                c0-3.1,1-5.7,3.2-7.8C182.7,220.2,185.1,218.9,188.1,218z"/>
              <path class="fill-white" d="M211.2,197.6c-0.3,4.3-1.5,8.3-4.3,11.7c-4.2,5.3-10.8,5.4-15,0.1c-3.5-4.3-5-9.3-4.1-14.9
                c1.1-6.3,6.8-10.2,13.4-9.4C207,185.9,211.6,191.5,211.2,197.6z"/>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
          </g>
          </svg>
      </button>
    </div>
  </ion-content>
</ion-view>
