<div class="map" ng-init="ngLoaded = true" ng-class="{ active: ngLoaded }">
  <ion-view ng-controller="MapCtrl">
    <ion-content>
      <form action="#" class="map-title">
        <i class="ion-search"></i>
        <input type="text"/>
        <button type="reset"><i class="ion-close-circled"></i></button>
      </form>
      <div id="map" data-tap-disabled="true"></div>
    </ion-content>
  </ion-view>


  <ion-footer-bar class="map-footer" ng-class="{ active: openFooter }">
    <a class="pull-left button map-car active">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 135 47" style="enable-background:new 0 0 135 47;" xml:space="preserve">
      <style type="text/css">
        .st0{fill:#010101;}
      </style>
      <g>
        <g>
          <path class="st0" d="M80.5-0.1c5.4,0,10.8,0.5,16.2,1.4c7.2,1.2,14.1,3.1,21.1,5.1c2.9,0.8,5.7,1.8,8.5,2.6
            c1.4,0.4,2.8,0.6,4.3,0.6c0.2,0,0.5,0,0.7,0.1c0.8,0.1,1,0.4,1,1.1c0,0.7-0.2,0.9-1,1c-1.1,0.2-1.1,0.2-1.1,1.2
            c0,2.1,0.5,4.2,0.9,6.3c0.3,1.3,0.6,2.6,0.7,4c0.1,0.6,0.3,1.2,0.8,1.6c1.5,1.5,2.2,3.3,2.5,5.4c0.2,1.4,0.1,2.7-0.3,4
            c-0.3,0.9-0.9,1.5-1.7,1.7c-0.7,0.2-1.2,0.6-1.5,1.3c-0.3,0.8-0.9,1.1-1.8,1.3c-2.3,0.4-4.5,0.8-6.8,1.1c-0.2,0-0.4,0-0.6,0
            c-0.4,0-0.5-0.2-0.6-0.5c0-0.2,0-0.3,0-0.5c0-0.3-0.1-0.5-0.4-0.5c-0.3,0-0.5,0.2-0.5,0.4c0,0.2-0.1,0.3-0.1,0.5
            c-1,4.6-4.6,7.2-9.2,7.4c-2.1,0.1-4.2-0.2-6.1-1.3c-1.5-0.8-2.6-2-3.3-3.6c-0.2-0.5-0.5-0.6-1-0.6c-3.9,0-7.8,0-11.8,0
            c-6.4,0-12.9,0.1-19.3,0C60.1,41,50,41,39.9,41c-1,0-2-0.1-3-0.2c-1.1-0.1-2,0.1-2.6,1.1c-2.5,3.8-6.2,4.9-10.5,4.4
            c-2.5-0.2-4.7-1.2-6.4-3.2c-0.4-0.5-0.8-1.1-1.1-1.7c-0.2-0.4-0.5-0.6-1-0.6c-3.2-0.2-6.3-0.4-9.5-0.7C5,40.1,4.2,40,3.5,39.7
            c-2-0.6-2.8-1.6-3-3.7c-0.2-1.5-0.1-3,0.2-4.5c0.4-2.4,1-4.7,2-6.9C3.4,23,4.5,21.9,6,21c3.6-2,7.4-3.5,11.3-4.7
            c3.6-1.1,7.2-1.9,10.9-2.4c2.5-0.4,4.8-1.4,7.1-2.5C42.6,8.1,50,5.1,57.8,2.8c4.3-1.2,8.6-2,13.1-2.5c2.5-0.3,5.1-0.4,7.6-0.4
            C79.2-0.1,79.8-0.2,80.5-0.1z"/>
        </g>
      </g>
    </svg>
    </a>
    <a ng-click="addCircle()" class="pull-left button map-car">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 135 47" style="enable-background:new 0 0 135 47;" xml:space="preserve">
      <style type="text/css">
        .st0{fill:#010101;}
      </style>
      <g>
        <g>
          <path class="st0" d="M80.5-0.1c5.4,0,10.8,0.5,16.2,1.4c7.2,1.2,14.1,3.1,21.1,5.1c2.9,0.8,5.7,1.8,8.5,2.6
            c1.4,0.4,2.8,0.6,4.3,0.6c0.2,0,0.5,0,0.7,0.1c0.8,0.1,1,0.4,1,1.1c0,0.7-0.2,0.9-1,1c-1.1,0.2-1.1,0.2-1.1,1.2
            c0,2.1,0.5,4.2,0.9,6.3c0.3,1.3,0.6,2.6,0.7,4c0.1,0.6,0.3,1.2,0.8,1.6c1.5,1.5,2.2,3.3,2.5,5.4c0.2,1.4,0.1,2.7-0.3,4
            c-0.3,0.9-0.9,1.5-1.7,1.7c-0.7,0.2-1.2,0.6-1.5,1.3c-0.3,0.8-0.9,1.1-1.8,1.3c-2.3,0.4-4.5,0.8-6.8,1.1c-0.2,0-0.4,0-0.6,0
            c-0.4,0-0.5-0.2-0.6-0.5c0-0.2,0-0.3,0-0.5c0-0.3-0.1-0.5-0.4-0.5c-0.3,0-0.5,0.2-0.5,0.4c0,0.2-0.1,0.3-0.1,0.5
            c-1,4.6-4.6,7.2-9.2,7.4c-2.1,0.1-4.2-0.2-6.1-1.3c-1.5-0.8-2.6-2-3.3-3.6c-0.2-0.5-0.5-0.6-1-0.6c-3.9,0-7.8,0-11.8,0
            c-6.4,0-12.9,0.1-19.3,0C60.1,41,50,41,39.9,41c-1,0-2-0.1-3-0.2c-1.1-0.1-2,0.1-2.6,1.1c-2.5,3.8-6.2,4.9-10.5,4.4
            c-2.5-0.2-4.7-1.2-6.4-3.2c-0.4-0.5-0.8-1.1-1.1-1.7c-0.2-0.4-0.5-0.6-1-0.6c-3.2-0.2-6.3-0.4-9.5-0.7C5,40.1,4.2,40,3.5,39.7
            c-2-0.6-2.8-1.6-3-3.7c-0.2-1.5-0.1-3,0.2-4.5c0.4-2.4,1-4.7,2-6.9C3.4,23,4.5,21.9,6,21c3.6-2,7.4-3.5,11.3-4.7
            c3.6-1.1,7.2-1.9,10.9-2.4c2.5-0.4,4.8-1.4,7.1-2.5C42.6,8.1,50,5.1,57.8,2.8c4.3-1.2,8.6-2,13.1-2.5c2.5-0.3,5.1-0.4,7.6-0.4
            C79.2-0.1,79.8-0.2,80.5-0.1z"/>
        </g>
      </g>
    </svg>
    </a>
    <a ng-click="openFooter = !openFooter" class="pull-right button map-carSearch"></a>

    <div class="map-footer-content">
      <div class="map-footer-content-item">No CARS <b>04</b></div>
      <div class="map-footer-content-item">CAR AVAILABILITY <b>05 MIN</b></div>
      <div class="map-footer-content-item">AVG COST <b>&#163;10.70</b></div>
      <div class="map-footer-content-item">
        <button class="bef-btn">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">
          <g id="APP_BADGE">
            <g>
              <path class="fill-white stroke-white" fill="#DC0321" stroke-miterlimit="10" d="M145.7,24.8h106.1c35.2,0,52.8,0,71.7,6
                c20.7,7.5,37,23.8,44.5,44.5c6,18.9,6,36.5,6,71.7V253c0,35.2,0,52.8-6,71.7c-7.5,20.7-23.8,37-44.5,44.5c-18.9,6-36.5,6-71.7,6
                H145.7c-35.2,0-52.8,0-71.7-6c-20.7-7.5-37-23.8-44.5-44.5c-6-18.9-6-36.5-6-71.7V147c0-35.2,0-52.8,6-71.7
                C37,54.6,53.3,38.3,74,30.8C92.9,24.8,110.5,24.8,145.7,24.8L145.7,24.8"/>
            </g>
          </g>
          <g id="DRIVER">
            <line class="stroke-black" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="100" y1="289" x2="297" y2="289"/>
            <g>
              <g>
                <g>
                  <g>
                    <rect x="92.8" y="302.1" fill="none" width="211.7" height="49.1"/>
                    <path class="fill-red" fill="#FFFFFF" d="M117.9,329.2c0,2.5-0.6,4.6-2,6.4c-0.9,1.2-2.1,2.1-3.7,2.6c-0.9,0.3-1.9,0.4-3,0.4
                      c-2.1,0-3.9-0.5-5.3-1.6c-1.2-0.9-2.1-2-2.8-3.5c-0.7-1.5-1.1-3.2-1.2-5.1l5.2-0.4c0.2,2.1,0.8,3.6,1.7,4.6
                      c0.7,0.7,1.4,1,2.2,1c1.2,0,2.1-0.6,2.8-1.8c0.4-0.6,0.5-1.3,0.5-2.4c0-1.5-0.7-3-2-4.5c-1.1-1-2.7-2.5-4.8-4.6
                      c-1.8-1.7-3.1-3.3-3.8-4.7c-0.8-1.6-1.2-3.2-1.2-5.1c0-3.3,1.1-5.8,3.3-7.4c1.4-1,3-1.5,5.1-1.5c1.9,0,3.6,0.4,5,1.3
                      c1.1,0.7,1.9,1.6,2.6,2.8c0.7,1.2,1.1,2.6,1.2,4.2l-5.2,0.9c-0.2-1.5-0.6-2.6-1.3-3.4c-0.5-0.6-1.2-0.9-2.2-0.9
                      c-1,0-1.8,0.4-2.3,1.3c-0.4,0.7-0.6,1.6-0.6,2.6c0,1.6,0.7,3.3,2.1,5c0.5,0.7,1.3,1.4,2.4,2.3c1.3,1.1,2.1,1.8,2.5,2.2
                      c1.3,1.3,2.4,2.7,3.1,4c0.3,0.6,0.6,1.2,0.8,1.7C117.6,327,117.9,328.2,117.9,329.2z"/>
                    <path class="fill-red" fill="#FFFFFF" d="M132.3,307.6h-5.8v-5.5h16.9v5.5h-5.7v30.5h-5.4V307.6z"/>
                    <path class="fill-red" fill="#FFFFFF" d="M154.8,329.9l-1.3,8.3h-5.6l6.1-36h7.5l6,36h-5.7l-1.3-8.3H154.8z M157.6,310.4l-2,14.2h4L157.6,310.4z
                      "/>
                    <path class="fill-red" fill="#FFFFFF" d="M185.5,302.2c3,0,5.2,0.8,6.7,2.5c1.2,1.5,1.9,3.5,1.9,6.1v5.2c0,2.5-1,4.7-2.9,6.5l4,15.7h-5.9
                      l-3.3-13.5c-0.2,0-0.3,0-0.5,0h-3.1v13.5h-5.4v-36H185.5z M188.7,310.8c0-2.1-1-3.1-3.1-3.1h-3.3v11.5h3.3
                      c0.9,0,1.6-0.3,2.2-0.9s0.9-1.3,0.9-2.2V310.8z"/>
                    <path class="fill-red" fill="#FFFFFF" d="M208.7,307.6h-5.8v-5.5h16.9v5.5h-5.7v30.5h-5.4V307.6z"/>
                    <path class="fill-red" fill="#FFFFFF" d="M237.2,338.1v-36h8.1c2.1,0,4.1,0.6,5.8,1.7c1.5,1,2.5,2.4,3.2,4.4c0.3,1.1,0.5,2.3,0.5,3.8
                      c0,2.4-0.6,4.3-1.9,5.8c-0.5,0.6-1.2,1.1-1.9,1.4c1.2,0.5,2.2,1.4,3.1,2.7c0.6,0.9,1,2.1,1.2,3.6c0.1,0.7,0.2,1.6,0.2,2.5
                      c0,2.3-0.4,4.2-1.3,5.8c-0.7,1.2-1.6,2.2-2.8,3c-1.4,0.8-2.7,1.3-4.1,1.3H237.2z M243,316.8h2.3c1.7,0,2.8-0.8,3.4-2.5
                      c0.2-0.6,0.3-1.4,0.3-2.3c0-1.5-0.4-2.6-1.1-3.4c-0.7-0.7-1.5-1.1-2.6-1.1H243V316.8z M243,332.8h2.3c1.8,0,3.1-0.9,3.8-2.8
                      c0.2-0.7,0.4-1.4,0.4-2.2c0-2-0.4-3.5-1.1-4.4c-0.7-0.8-1.7-1.3-3-1.3H243V332.8z"/>
                    <path class="fill-red" fill="#FFFFFF" d="M270.5,338.1h-5.4v-36h5.4V338.1z"/>
                    <path class="fill-red" fill="#FFFFFF" d="M297.3,329.5c0,2.4-0.8,4.4-2.5,6.1c-1.7,1.7-3.7,2.5-6,2.5h-8.5v-36h8.5c2.4,0,4.4,0.8,6,2.5
                      c1.7,1.7,2.5,3.7,2.5,6.1V329.5z M285.7,332.8h3.3c0.9,0,1.6-0.3,2.2-0.9c0.6-0.6,0.9-1.4,0.9-2.2v-18.8c0-0.9-0.3-1.6-0.9-2.2
                      c-0.6-0.6-1.3-0.9-2.2-0.9h-3.3V332.8z"/>
                  </g>
                </g>
                <g>
                </g>
              </g>
            </g>
            <g>
              <path class="fill-black" fill="#FFFFFF" d="M203.5,256.2c-1.5,0-3,0-4.5,0c-0.7-0.2-1.4-0.5-2.1-0.5c-25.1-1.2-45.8-11.5-61.3-31.1
                c-18.3-23.1-23.4-49.5-14.2-77.5c10.3-31.3,32.5-50,64.7-56.6c4.6-1,9.5-1,14.5-1.4c0,28.1,0,55.4,0,83.1c27.6-3.4,55-6.7,82.3-10
                c1.8,6.7,1.2,18.6-1.3,30.1c-6.5,30-33.9,56.6-63.8,61.8C213.1,254.8,208.3,255.4,203.5,256.2z"/>
            </g>
            <g>
              <circle class="fill-black" fill="none" stroke="#FFFFFF" stroke-width="2.25" stroke-miterlimit="10" cx="200.5" cy="171.6" r="94.5"/>
              <g>
                <path class="fill-white" fill="#DC0321" d="M200.6,201.6c-13.8,0-27.6,0-41.5,0c-3.9,0-6.8-1.5-8.1-5.1c-1-2.7-1.9-5.5-2.2-8.4
                  c-0.6-5.5-0.5-11.1,1.4-16.5c1.1-3.1,2.9-5.5,6.2-6.6c0.6-0.2,1.2-1.1,1.4-1.8c2.1-6.5,4.1-13,6.2-19.5c1.7-5.1,5.3-8.4,10.5-9.9
                  c1.1-0.3,2.3-0.4,3.5-0.4c2-0.1,4,0,6.1,0c1.2,0,1.7-0.5,1.7-1.7c0-1.5,0-3.1,0-4.6c0.1-4,2.4-6.3,6.4-6.4c5.5-0.1,10.9,0,16.4,0
                  c3.8,0,6.3,2.4,6.4,6.2c0.1,1.6,0,3.1,0,4.7c0,1.2,0.5,1.7,1.7,1.7c1.9,0,3.8,0,5.8,0c6.8,0,12.4,4.2,14.4,10.7
                  c2,6.3,3.9,12.6,5.9,18.9c0.3,1.1,1,1.7,2.1,2.2c1.5,0.7,3,1.7,4,3c2.5,3.4,2.9,7.5,3.3,11.5c0.3,4.3,0.2,8.7-0.8,12.9
                  c-0.4,1.7-1.1,3.5-1.9,5.1c-1.4,2.7-3.7,4-6.9,4C228.5,201.6,214.6,201.6,200.6,201.6z M200.4,142.5
                  C200.4,142.5,200.4,142.5,200.4,142.5c-7.3,0-14.6,0-22,0c-2.8,0-4.9,1.6-5.7,4.2c-1.6,4.9-3.1,9.8-4.6,14.8
                  c-1,3.2-0.8,3.3,2.6,3.4c6,0,12.1,0,18.1,0c6.8,0,13.6-0.1,20.4-0.2c2.1,0,4.2,0,6.3,0c2.9,0,5.8,0.1,8.7,0.2
                  c2.4,0,4.7,0,7.1-0.1c2.2-0.1,2.3-0.4,1.7-2.4c-1.5-5-3.1-10-4.7-15.1c-1.1-3.5-2.9-4.8-6.6-4.8
                  C214.6,142.5,207.5,142.5,200.4,142.5z M170.7,177.4C170.7,177.4,170.7,177.4,170.7,177.4c-1.4,0-2.9,0-4.3,0
                  c-2.9,0.1-4.7,1.9-4.8,4.7c-0.1,1.4-0.1,2.9,0,4.3c0.1,2.8,1.7,4.6,4.5,4.7c3,0.1,6,0.2,9,0c2.7-0.1,4.4-2.1,4.5-4.8
                  c0-1.4,0.1-2.9,0-4.3c-0.1-2.7-1.9-4.5-4.6-4.7C173.6,177.3,172.2,177.4,170.7,177.4z M230.1,177.4c-1.4,0-2.9,0-4.3,0
                  c-2.7,0.1-4.5,1.9-4.6,4.6c-0.1,1.4,0,2.8,0,4.1c0.1,3,1.7,4.9,4.7,5c2.9,0.1,5.8,0.1,8.7,0c2.5-0.1,4.3-1.9,4.5-4.4
                  c0.1-1.7,0.1-3.3,0-5c-0.2-2.6-2.1-4.2-4.7-4.3C233,177.3,231.6,177.4,230.1,177.4z"/>
                <path class="fill-white" d="M167.8,204c2.2,0,4.3,0,6.5,0c1.2,0,1.8,0.5,1.8,1.8c0,3.5,0,7.1,0,10.6c0,2.4-1.3,3.5-3.6,3.6
                  c-3.1,0-6.3,0.1-9.4,0c-2.4,0-3.5-1.2-3.5-3.6c0-3.4,0-6.9,0-10.3c0-1.7,0.3-2,2.1-2C163.7,204,165.7,204,167.8,204
                  C167.8,204,167.8,204,167.8,204z"/>
                <path class="fill-white" d="M233,204c2.1,0,4.2,0,6.3,0c1.3,0,2,0.5,2,1.9c0,3.5,0,7,0,10.5c0,2.3-1.3,3.5-3.6,3.6
                  c-3.1,0-6.2,0-9.3,0c-2.4,0-3.6-1.3-3.6-3.7c0-3.4,0-6.9,0-10.3c0-1.4,0.6-2,1.9-1.9C228.8,204,230.9,204,233,204z"/>
              </g>
              <path class="fill-white" d="M216.6,182.7H185c-1,0-1.9-0.8-1.9-1.9l0,0c0-1,0.8-1.9,1.9-1.9h31.5c1,0,1.9,0.8,1.9,1.9l0,0
                C218.5,181.9,217.6,182.7,216.6,182.7z"/>
              <path class="fill-white" d="M216.6,188.1H185c-1,0-1.9-0.8-1.9-1.9l0,0c0-1,0.8-1.9,1.9-1.9h31.5c1,0,1.9,0.8,1.9,1.9l0,0
                C218.5,187.3,217.6,188.1,216.6,188.1z"/>
            </g>
          </g>
          </svg>
        </button>
      </div>
    </div>
  </ion-footer-bar>
</div>
