<ion-view class="rideNow bg1">
  <ion-content>
    <div class="rideNow-title">ride now</div>
    <ion-list>
      <ion-item class="rideNow-item bg1">
        <label>
          <input type="radio" name="rideRow" class="rideNow-item-input"/>
          <div class="rideNow-item-content">
            <div class="bid-btn" expired-job="1000">
              <span class="top-right"></span>
              <span class="bottom-right"></span>
              <span class="bottom-left"></span>
              <span class="top-left"></span>


              <?xml version="1.0" encoding="utf-8"?>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 84 84" style="enable-background:new 0 0 84 84;" xml:space="preserve">
              <g>
                <path class="fill-black" d="M41.1,54.5c-6,0-11.9,0-17.9,0c-1.7,0-2.9-0.7-3.5-2.2c-0.4-1.2-0.8-2.4-0.9-3.6c-0.3-2.4-0.2-4.8,0.6-7.1
                  c0.5-1.3,1.2-2.4,2.7-2.9c0.3-0.1,0.5-0.5,0.6-0.8c0.9-2.8,1.8-5.6,2.7-8.4c0.7-2.2,2.3-3.6,4.5-4.3c0.5-0.1,1-0.2,1.5-0.2
                  c0.9,0,1.7,0,2.6,0c0.5,0,0.7-0.2,0.7-0.7c0-0.7,0-1.3,0-2c0-1.7,1-2.7,2.8-2.8c2.4,0,4.7,0,7.1,0c1.7,0,2.7,1,2.8,2.7
                  c0,0.7,0,1.4,0,2c0,0.5,0.2,0.7,0.7,0.7c0.8,0,1.7,0,2.5,0c2.9,0,5.4,1.8,6.2,4.6c0.8,2.7,1.7,5.4,2.5,8.1c0.1,0.5,0.4,0.7,0.9,1
                  c0.6,0.3,1.3,0.7,1.7,1.3c1.1,1.4,1.3,3.2,1.4,5c0.1,1.9,0.1,3.7-0.4,5.6c-0.2,0.8-0.5,1.5-0.8,2.2c-0.6,1.1-1.6,1.7-3,1.7
                  C53.1,54.5,47.1,54.5,41.1,54.5z M41,29C41,29,41,29,41,29c-3.2,0-6.3,0-9.5,0c-1.2,0-2.1,0.7-2.5,1.8c-0.7,2.1-1.3,4.2-2,6.4
                  c-0.4,1.4-0.4,1.4,1.1,1.4c2.6,0,5.2,0,7.8,0c2.9,0,5.9,0,8.8-0.1c0.9,0,1.8,0,2.7,0c1.2,0,2.5,0.1,3.7,0.1c1,0,2,0,3,0
                  c0.9,0,1-0.2,0.7-1c-0.7-2.2-1.3-4.3-2-6.5c-0.5-1.5-1.3-2.1-2.9-2.1C47.1,29,44.1,29,41,29z M28.2,44.1
                  C28.2,44.1,28.2,44.1,28.2,44.1c-0.6,0-1.2,0-1.8,0c-1.3,0-2,0.8-2.1,2c0,0.6,0,1.2,0,1.8c0,1.2,0.8,2,1.9,2c1.3,0.1,2.6,0.1,3.9,0
                  c1.2-0.1,1.9-0.9,1.9-2.1c0-0.6,0-1.2,0-1.8c-0.1-1.2-0.8-1.9-2-2C29.4,44,28.8,44.1,28.2,44.1z M53.8,44.1c-0.6,0-1.2,0-1.8,0
                  c-1.1,0-1.9,0.8-2,2c0,0.6,0,1.2,0,1.8c0,1.3,0.7,2.1,2,2.2c1.2,0.1,2.5,0.1,3.8,0c1.1,0,1.9-0.8,2-1.9c0.1-0.7,0.1-1.4,0-2.2
                  c-0.1-1.1-0.9-1.8-2-1.9C55.1,44,54.4,44.1,53.8,44.1z"/>
                <path class="fill-black" d="M26.9,55.5c0.9,0,1.9,0,2.8,0c0.5,0,0.8,0.2,0.8,0.8c0,1.5,0,3.1,0,4.6c0,1-0.5,1.5-1.6,1.5
                  c-1.4,0-2.7,0-4.1,0c-1,0-1.5-0.5-1.5-1.6c0-1.5,0-3,0-4.5c0-0.7,0.1-0.9,0.9-0.9C25.2,55.5,26,55.5,26.9,55.5
                  C26.9,55.5,26.9,55.5,26.9,55.5z"/>
                <path class="fill-black" d="M55.1,55.5c0.9,0,1.8,0,2.7,0c0.6,0,0.9,0.2,0.9,0.8c0,1.5,0,3,0,4.5c0,1-0.5,1.5-1.6,1.5c-1.3,0-2.7,0-4,0
                  c-1,0-1.6-0.5-1.6-1.6c0-1.5,0-3,0-4.5c0-0.6,0.2-0.8,0.8-0.8C53.3,55.6,54.2,55.5,55.1,55.5z"/>
              </g>
              <path class="fill-black" d="M49.2,46.4H35.6c-0.4,0-0.8-0.4-0.8-0.8v0c0-0.4,0.4-0.8,0.8-0.8h13.6c0.4,0,0.8,0.4,0.8,0.8v0
                C50,46,49.7,46.4,49.2,46.4z"/>
              <path class="fill-black" d="M49.2,48.7H35.6c-0.4,0-0.8-0.4-0.8-0.8v0c0-0.4,0.4-0.8,0.8-0.8h13.6c0.4,0,0.8,0.4,0.8,0.8v0
                C50,48.3,49.7,48.7,49.2,48.7z"/>
              </svg>
            </div>

            <div class="rideNow-item-content-info">
              <h2>journey:</h2>
              <h1>n3-sw11</h1>
            </div>

            <div class="rideNow-item-content-time">
              <h2>est time:</h2>
              <h1>50 mins</h1>
              <h3>2.5 miles</h3>
            </div>

            <div class="rideNow-item-content-bid">
              <h2>est value</h2>
              <h1>&#163;15.30</h1>
            </div>
          </div>
        </label>
      </ion-item>

      <ion-item class="rideNow-item bg1 animate-repeat" ng-repeat="rider in riders" ng-if="$index <= 3">
        <label>
          <input type="radio" name="rideRow" class="rideNow-item-input"/>
          <div class="rideNow-item-content">
            <div class="bid-btn" expired-job="0">
              <span class="top-right"></span>
              <span class="bottom-right"></span>
              <span class="bottom-left"></span>
              <span class="top-left"></span>


              <?xml version="1.0" encoding="utf-8"?>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 84 84" style="enable-background:new 0 0 84 84;" xml:space="preserve">
              <g>
                <path class="fill-black" d="M41.1,54.5c-6,0-11.9,0-17.9,0c-1.7,0-2.9-0.7-3.5-2.2c-0.4-1.2-0.8-2.4-0.9-3.6c-0.3-2.4-0.2-4.8,0.6-7.1
                  c0.5-1.3,1.2-2.4,2.7-2.9c0.3-0.1,0.5-0.5,0.6-0.8c0.9-2.8,1.8-5.6,2.7-8.4c0.7-2.2,2.3-3.6,4.5-4.3c0.5-0.1,1-0.2,1.5-0.2
                  c0.9,0,1.7,0,2.6,0c0.5,0,0.7-0.2,0.7-0.7c0-0.7,0-1.3,0-2c0-1.7,1-2.7,2.8-2.8c2.4,0,4.7,0,7.1,0c1.7,0,2.7,1,2.8,2.7
                  c0,0.7,0,1.4,0,2c0,0.5,0.2,0.7,0.7,0.7c0.8,0,1.7,0,2.5,0c2.9,0,5.4,1.8,6.2,4.6c0.8,2.7,1.7,5.4,2.5,8.1c0.1,0.5,0.4,0.7,0.9,1
                  c0.6,0.3,1.3,0.7,1.7,1.3c1.1,1.4,1.3,3.2,1.4,5c0.1,1.9,0.1,3.7-0.4,5.6c-0.2,0.8-0.5,1.5-0.8,2.2c-0.6,1.1-1.6,1.7-3,1.7
                  C53.1,54.5,47.1,54.5,41.1,54.5z M41,29C41,29,41,29,41,29c-3.2,0-6.3,0-9.5,0c-1.2,0-2.1,0.7-2.5,1.8c-0.7,2.1-1.3,4.2-2,6.4
                  c-0.4,1.4-0.4,1.4,1.1,1.4c2.6,0,5.2,0,7.8,0c2.9,0,5.9,0,8.8-0.1c0.9,0,1.8,0,2.7,0c1.2,0,2.5,0.1,3.7,0.1c1,0,2,0,3,0
                  c0.9,0,1-0.2,0.7-1c-0.7-2.2-1.3-4.3-2-6.5c-0.5-1.5-1.3-2.1-2.9-2.1C47.1,29,44.1,29,41,29z M28.2,44.1
                  C28.2,44.1,28.2,44.1,28.2,44.1c-0.6,0-1.2,0-1.8,0c-1.3,0-2,0.8-2.1,2c0,0.6,0,1.2,0,1.8c0,1.2,0.8,2,1.9,2c1.3,0.1,2.6,0.1,3.9,0
                  c1.2-0.1,1.9-0.9,1.9-2.1c0-0.6,0-1.2,0-1.8c-0.1-1.2-0.8-1.9-2-2C29.4,44,28.8,44.1,28.2,44.1z M53.8,44.1c-0.6,0-1.2,0-1.8,0
                  c-1.1,0-1.9,0.8-2,2c0,0.6,0,1.2,0,1.8c0,1.3,0.7,2.1,2,2.2c1.2,0.1,2.5,0.1,3.8,0c1.1,0,1.9-0.8,2-1.9c0.1-0.7,0.1-1.4,0-2.2
                  c-0.1-1.1-0.9-1.8-2-1.9C55.1,44,54.4,44.1,53.8,44.1z"/>
                <path class="fill-black" d="M26.9,55.5c0.9,0,1.9,0,2.8,0c0.5,0,0.8,0.2,0.8,0.8c0,1.5,0,3.1,0,4.6c0,1-0.5,1.5-1.6,1.5
                  c-1.4,0-2.7,0-4.1,0c-1,0-1.5-0.5-1.5-1.6c0-1.5,0-3,0-4.5c0-0.7,0.1-0.9,0.9-0.9C25.2,55.5,26,55.5,26.9,55.5
                  C26.9,55.5,26.9,55.5,26.9,55.5z"/>
                <path class="fill-black" d="M55.1,55.5c0.9,0,1.8,0,2.7,0c0.6,0,0.9,0.2,0.9,0.8c0,1.5,0,3,0,4.5c0,1-0.5,1.5-1.6,1.5c-1.3,0-2.7,0-4,0
                  c-1,0-1.6-0.5-1.6-1.6c0-1.5,0-3,0-4.5c0-0.6,0.2-0.8,0.8-0.8C53.3,55.6,54.2,55.5,55.1,55.5z"/>
              </g>
              <path class="fill-black" d="M49.2,46.4H35.6c-0.4,0-0.8-0.4-0.8-0.8v0c0-0.4,0.4-0.8,0.8-0.8h13.6c0.4,0,0.8,0.4,0.8,0.8v0
                C50,46,49.7,46.4,49.2,46.4z"/>
              <path class="fill-black" d="M49.2,48.7H35.6c-0.4,0-0.8-0.4-0.8-0.8v0c0-0.4,0.4-0.8,0.8-0.8h13.6c0.4,0,0.8,0.4,0.8,0.8v0
                C50,48.3,49.7,48.7,49.2,48.7z"/>
              </svg>
            </div>

            <div class="rideNow-item-content-info">
              <h2>journey:</h2>
              <h1>{{rider.journey}}</h1>
            </div>

            <div class="rideNow-item-content-time">
              <h2>est time:</h2>
              <h1>{{rider.time}} min</h1>
              <h3>{{rider.miles}} miles</h3>
            </div>

            <div class="rideNow-item-content-bid">
              <h2>est value</h2>
              <h1>&#163;{{rider.cost}}</h1>
            </div>
          </div>
        </label>
      </ion-item>
    </ion-list>
  </ion-content>


  <ion-footer-bar class="rideNow-footer bg1">
    <span>UPDATE 30sec AGO</span>
  </ion-footer-bar>
</ion-view>
