<ion-view class="BidsBeings">
    <ion-content>
        <h1>please wait <br/> connecting to bids</h1>

        <div class="loader">
            <span>&#163;</span>
            <?xml version="1.0" encoding="utf-8"?>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 168.1 169.1" style="enable-background:new 0 0 168.1 169.1;" xml:space="preserve">
            <g>
            <path id="loader1" class="st1" d="M85.3,18.9c0.2,0,0.5,0.1,0.7,0.1c1.8,0.1,3.7,0.2,5.5,0.2c0.3,0,0.5,0.1,0.4,0.5c-0.3,3.1-0.5,6.3-0.8,9.4
                  c-0.2,2.6-0.4,5.2-0.6,7.8c-0.2,1.9-0.4,3.8-0.6,5.7c-0.2,2.1-0.3,4.2-0.5,6.3c-0.1,0.8-0.1,1.6-0.2,2.5c0,0.4-0.2,0.5-0.5,0.5
                  c-1,0-1.9-0.1-2.9-0.1c-0.7,0-0.8,0-0.8-0.8c0-7.5,0-14.9,0-22.4c0-3.2,0-6.4,0-9.7C85.2,18.9,85.2,18.9,85.3,18.9z"/>
            <path id="loader2" class="st1" d="M91.9,52.1c0.2-1.4,0.5-2.8,0.7-4.2c0.5-3.1,1-6.3,1.5-9.4c0.3-2.1,0.6-4.3,1-6.4c0.4-2.4,0.8-4.8,1.1-7.2
                  c0.2-1.6,0.5-3.1,0.7-4.7c0-0.3,0.2-0.4,0.5-0.3c0.4,0.1,0.9,0.1,1.3,0.2c1.5,0.3,2.9,0.7,4.4,1c0.4,0.1,0.5,0.3,0.4,0.7
                  c-0.5,2-1,4-1.6,5.9c-0.4,1.6-0.9,3.1-1.3,4.7c-0.7,2.6-1.4,5.2-2.1,7.9c-0.9,3.6-1.9,7.2-2.8,10.8c-0.1,0.5-0.2,1-0.4,1.4
                  c-0.1,0.2-0.4,0.4-0.5,0.3C93.7,52.6,92.8,52.4,91.9,52.1z"/>
            <path id="loader3" class="st1" d="M114.1,25.2c-0.1,0.2-0.1,0.2-0.1,0.3c-0.8,1.6-1.5,3.2-2.3,4.9c-0.9,2-1.8,3.9-2.7,5.9c-0.5,1-0.9,2-1.4,3
                  c-1.1,2.2-2.1,4.5-3.2,6.8c-1.3,2.8-2.6,5.7-4,8.5c-0.1,0.1-0.3,0.2-0.4,0.2c-0.8-0.3-1.6-0.6-2.3-0.9c-0.3-0.1-0.3-0.3-0.2-0.6
                  c0.5-1.4,1-2.8,1.6-4.3c0.5-1.5,1-3,1.6-4.5c0.2-0.5,0.4-1,0.6-1.4c0.7-2,1.4-3.9,2.1-5.9c0.6-1.6,1.1-3.3,1.7-4.9
                  c0.6-1.8,1.3-3.5,1.9-5.3c0.4-1.2,0.9-2.4,1.3-3.7c0.1-0.4,0.3-0.5,0.7-0.4c1.7,0.7,3.3,1.4,5,2.1C113.9,25,114,25.1,114.1,25.2z"/>
            <path id="loader4" class="st1" d="M105.4,57.8c-0.6-0.4-1.1-0.7-1.6-1c-0.1-0.1-0.2-0.2-0.3-0.2c-0.7-0.5-0.7-0.5-0.3-1.2
                  c0.9-1.6,1.8-3.3,2.8-4.9c1-1.7,2-3.5,3-5.2c0.3-0.6,0.7-1.2,1-1.8c1.1-2,2.2-3.9,3.4-5.9c1.3-2.3,2.6-4.6,3.9-6.9
                  c0.5-0.8,1-1.7,1.5-2.5c0.2-0.4,0.5-0.4,0.8-0.2c1.4,0.9,2.9,1.8,4.4,2.7c0.3,0.2,0.3,0.4,0.1,0.7c-1.4,2-2.8,4.1-4.3,6.1
                  c-0.9,1.2-1.8,2.4-2.6,3.7c-0.9,1.3-1.7,2.5-2.6,3.8c-0.9,1.3-1.8,2.6-2.8,3.9c-0.5,0.8-1,1.5-1.6,2.3c-0.9,1.3-1.9,2.7-2.8,4
                  c-0.5,0.7-0.9,1.4-1.4,2C105.8,57.4,105.5,57.6,105.4,57.8z"/>
            <path id="loader5" class="st1" d="M133,38.5c-0.1,0.1-0.1,0.2-0.2,0.3c-1.6,1.5-3.1,3.1-4.7,4.6c-1.3,1.3-2.5,2.6-3.8,3.9
                  c-0.9,0.9-1.9,1.8-2.8,2.7c-0.8,0.8-1.5,1.5-2.3,2.3c-1,1-2,2-3.1,3c-1.3,1.3-2.5,2.5-3.8,3.8c-0.7,0.8-1.5,1.5-2.3,2.2
                  c-0.1,0.1-0.4,0.1-0.5,0c-0.7-0.6-1.3-1.2-1.9-1.9c-0.1-0.1,0-0.4,0.1-0.5c1.1-1.4,2.3-2.7,3.4-4.1c1.3-1.6,2.7-3.2,4-4.8
                  c1.9-2.3,3.8-4.5,5.7-6.8c1.5-1.8,3-3.7,4.6-5.6c0.8-1,1.7-2,2.6-3.1c0.3-0.3,0.5-0.4,0.9-0.1c1,0.9,2,1.9,3.1,2.8
                  c0.3,0.2,0.6,0.5,0.8,0.7C132.9,38.2,132.9,38.3,133,38.5z"/>
            <path id="loader6" class="st1" d="M141.7,49.3c-0.1,0.1-0.3,0.3-0.4,0.4c-1,0.6-2,1.3-3,1.9c-1.3,0.8-2.7,1.7-4.1,2.5c-0.9,0.5-1.7,1.1-2.5,1.6
                  c-0.9,0.6-1.8,1.1-2.8,1.7c-0.8,0.5-1.6,1-2.5,1.6c-1.4,0.9-2.8,1.7-4.2,2.6c-1.5,0.9-2.9,1.9-4.4,2.8c-1,0.6-2,1.2-3,1.9
                  c-0.3,0.2-0.7,0.6-1,0.5c-0.3-0.1-0.4-0.6-0.7-0.9c-0.6-0.7-1.2-1.5-1.8-2.2c-0.3-0.3-0.1-0.5,0.1-0.7c1-0.8,2-1.7,3-2.5
                  c1.1-1,2.3-2,3.4-2.9c1.5-1.3,3-2.6,4.5-3.9c1-0.9,2-1.8,3-2.7c1.5-1.3,3-2.5,4.5-3.8c1.9-1.6,3.7-3.2,5.5-4.8
                  c0.5-0.5,0.7-0.5,1.1,0.1c1.4,1.8,2.7,3.7,4.1,5.5c0.2,0.2,0.4,0.5,0.5,0.8C141.5,48.9,141.6,49.1,141.7,49.3z"/>
            <path id="loader7" class="st1" d="M149.3,66.1c-0.1,0.1-0.3,0.3-0.5,0.4c-1.2,0.4-2.3,0.7-3.5,1c-1.6,0.5-3.3,0.9-4.9,1.4c-3,0.8-6,1.6-9,2.5
                  c-2.1,0.6-4.1,1.2-6.2,1.8c-2.3,0.7-4.7,1.3-7,1.9c-0.3,0.1-0.5,0.1-0.7-0.3c-0.7-1.7-1.4-3.5-2.1-5.2c-0.2-0.4-0.1-0.6,0.3-0.8
                  c1.2-0.6,2.4-1.3,3.7-1.9c1.2-0.6,2.5-1.3,3.7-1.9c1.6-0.8,3.2-1.6,4.8-2.4c1.2-0.6,2.4-1.3,3.5-1.9c1.7-0.9,3.5-1.8,5.2-2.7
                  c2.4-1.3,4.9-2.5,7.3-3.8c0.4-0.2,0.5-0.1,0.7,0.3c0.6,1.3,1.3,2.6,1.8,3.9c0.9,2.3,1.7,4.7,2.6,7
                  C149.2,65.6,149.2,65.8,149.3,66.1z"/>
            <path id="loader8" class="st1" d="M151.9,86.7c-1.6,0-3.2-0.1-4.8-0.1c-1.7-0.1-3.4-0.1-5.1-0.2c-3.5-0.1-7-0.2-10.4-0.4
                  c-3.3-0.1-6.6-0.3-9.9-0.4c-0.7,0-1.5-0.1-2.2-0.1c-0.4,0-0.5-0.2-0.6-0.6c-0.1-1.8-0.1-3.5-0.2-5.3c0-0.4-0.1-0.8-0.2-1.2
                  c-0.1-0.4,0-0.6,0.4-0.7c2.3-0.4,4.6-0.9,6.9-1.4c2.7-0.6,5.4-1.2,8.1-1.7c2.3-0.5,4.6-0.8,6.9-1.3c3-0.6,6.1-1.3,9.1-2
                  c0.5-0.1,0.7,0,0.8,0.5c0.6,2.6,0.8,5.2,1,7.8c0.1,0.8,0.1,1.7,0.2,2.5C151.9,83.7,151.9,85.2,151.9,86.7z"/>
            <path id="loader9" class="st1" d="M146.2,111c-1.3-0.6-2.4-1.2-3.6-1.7c-1.3-0.6-2.7-1.1-4-1.7c-1.9-0.9-3.8-1.8-5.8-2.6c-2.7-1.2-5.3-2.3-8-3.5
                  c-1.3-0.6-2.6-1.2-3.9-1.8c-1.3-0.6-2.6-1.1-3.9-1.7c-0.8-0.3-0.8-0.4-0.5-1.2c1-2.5,1.7-5.2,2.2-7.9c0.1-0.4,0.2-0.5,0.6-0.4
                  c2.8,0.4,5.6,0.8,8.4,1.1c3.4,0.4,6.8,0.8,10.2,1.3c1.8,0.2,3.6,0.5,5.4,0.8c2.5,0.3,5,0.7,7.5,1c0.5,0.1,0.6,0.3,0.5,0.7
                  c-0.5,2.9-1,5.7-1.8,8.5c-0.8,2.7-1.8,5.4-2.8,8C146.6,110.2,146.4,110.5,146.2,111z"/>
            <path id="loader10" class="st1" d="M127.6,135.2c-0.8-1-1.6-2-2.3-3c-0.9-1.1-1.8-2.2-2.7-3.4c-0.9-1.1-1.7-2.2-2.6-3.2c-0.6-0.7-1.2-1.5-1.8-2.2
                  c-0.8-1-1.6-2.1-2.5-3.1c-0.6-0.7-1.2-1.5-1.7-2.2c-1-1.3-2-2.5-3.1-3.8c-0.9-1.1-1.7-2.1-2.6-3.2c-0.4-0.4-0.7-0.9-1-1.3
                  c-0.2-0.3-0.2-0.4,0.1-0.6c0.6-0.5,1.2-1.1,1.8-1.6c0.6-0.6,1.2-1.1,1.7-1.7c0.7-0.8,1.4-1.6,2-2.5c0.7-0.9,1.3-1.9,1.9-2.9
                  c0.2-0.3,0.4-0.4,0.7-0.2c2.7,1.5,5.3,2.9,8,4.3c1.6,0.9,3.2,1.7,4.8,2.5c1.6,0.9,3.3,1.8,4.9,2.7c0.9,0.5,1.9,1,2.9,1.5
                  c1,0.5,2,1.1,3,1.7c1.5,0.8,2.9,1.6,4.4,2.4c0.4,0.2,0.5,0.5,0.2,0.9c-0.6,0.9-1.1,1.8-1.7,2.7c-0.6,1-1.2,2-1.9,2.9
                  c-1.3,1.7-2.6,3.5-4,5.1c-1.2,1.4-2.5,2.7-3.8,4c-0.8,0.9-1.7,1.7-2.6,2.5C129,134,128.3,134.5,127.6,135.2z"/>
            <path id="loader11" class="st1" d="M97.1,148.8c-0.2-1.2-0.4-2.3-0.6-3.5c-0.7-4.4-1.4-8.7-2.1-13.1c-0.5-3.1-1-6.1-1.5-9.2c-0.3-2-0.6-4-1-6
                  c-0.1-0.4,0-0.6,0.5-0.7c2.3-0.4,4.5-1.1,6.7-2c1.2-0.5,2.3-1.1,3.4-1.7c0.7-0.4,1.5-0.8,2.2-1.3c0.4-0.2,0.6-0.1,0.8,0.2
                  c0.5,0.7,1,1.5,1.5,2.2c0.6,0.9,1.2,1.9,1.8,2.8c0.9,1.4,1.8,2.7,2.7,4.1c0.6,0.9,1.2,1.7,1.7,2.5c0.9,1.3,1.7,2.7,2.6,4
                  c0.5,0.8,1,1.5,1.5,2.3c0.7,1,1.3,2,2,3.1c0.9,1.3,1.7,2.5,2.6,3.8c0.4,0.6,0.7,1.1,1.1,1.7c0.2,0.3,0.1,0.5-0.1,0.7
                  c-1,0.6-2,1.3-3.1,1.9c-1.1,0.6-2.2,1.2-3.2,1.8c-0.8,0.4-1.6,0.9-2.4,1.2c-2.3,0.9-4.5,1.9-6.8,2.7c-2.1,0.7-4.2,1.3-6.4,1.8
                  c-1.1,0.3-2.3,0.5-3.5,0.7C97.4,148.8,97.3,148.8,97.1,148.8z"/>
            <path id="loader12" class="st1" d="M83.7,149.7c-1.2-0.1-2.3-0.2-3.5-0.3c-2.5-0.2-4.9-0.5-7.3-1.1c-2.2-0.6-4.5-1-6.6-1.7
                  c-2.2-0.7-4.4-1.6-6.5-2.5c-1-0.4-2.1-0.9-3.1-1.4c-0.6-0.3-0.6-0.4-0.3-1c0.7-1.3,1.3-2.6,2-3.9c0.5-1,1.1-2,1.7-3
                  c0.6-1.2,1.2-2.4,1.8-3.5c0.9-1.7,1.8-3.3,2.7-5c0.8-1.6,1.6-3.2,2.4-4.8c0.5-1,1.1-2.1,1.7-3.1c0.8-1.6,1.7-3.2,2.5-4.8
                  c0-0.1,0.1-0.2,0.2-0.3c0.4,0.1,0.7,0.2,1,0.4c3.3,1.7,6.9,2.7,10.5,3.1c1.8,0.2,3.6,0.1,5.4,0.1c0.5,0,0.7,0,0.7,0.6
                  c0.2,3.8,0.4,7.6,0.6,11.5c0.2,3.8,0.5,7.6,0.7,11.5c0.2,2.9,0.3,5.8,0.5,8.8c0,0.5-0.1,0.6-0.5,0.6c-0.3,0-0.7,0.1-1,0.1
                  C87.5,149.7,85.6,149.7,83.7,149.7z"/>
            <path id="loader13" class="st1" d="M9,83.9c0.6-0.7,1.3-1.5,1.9-2.2c0.9-1.1,1.8-2.1,2.7-3.2c1.2-1.5,2.4-3,3.6-4.5c1.3-1.5,2.6-3.1,3.9-4.6
                  c0.9-1.1,1.7-2.2,2.6-3.3c0.9-1.1,1.8-2.1,2.7-3.2c0.9-1.1,1.8-2.2,2.7-3.3c1.3-1.6,2.6-3.1,3.9-4.7c1.2-1.5,2.5-3,3.7-4.5
                  c0.3-0.4,0.7-0.8,1.1-1.3C47.5,60.7,57,72.4,66.6,84c0,0.1,0,0.1-0.1,0.2c-0.2,0-0.4,0-0.6,0c-3.8,0-7.5,0-11.3,0
                  c-0.5,0-0.7,0.1-0.7,0.7c0,2.2,0.3,4.5,0.9,6.6c0.5,1.7,0.9,3.5,1.6,5.1c0.7,1.8,1.6,3.5,2.7,5.1c1.1,1.7,2.4,3.3,3.7,4.8
                  c0.9,1,1.9,1.8,2.9,2.7c0.7,0.6,1.5,1.2,2.3,1.8c0.2,0.2,0.7,0.4,0.7,0.6c0,0.3-0.3,0.5-0.5,0.8c-0.8,1.3-1.6,2.6-2.5,3.8
                  c-0.6,0.9-1.2,1.7-1.7,2.5c-0.9,1.3-1.7,2.7-2.6,4c-0.6,0.9-1.2,1.7-1.7,2.5c-0.6,1-1.3,2-1.9,2.9c-0.8,1.3-1.7,2.5-2.5,3.8
                  c-0.9,1.3-1.7,2.7-2.5,4c-0.7,1-1.3,2-2.1,3c-0.4-0.2-0.8-0.4-1.1-0.7c-1.8-1.3-3.6-2.7-5.3-4.1c-1-0.8-2-1.7-3-2.6
                  c-0.9-0.9-1.8-1.8-2.6-2.7c-1.4-1.5-2.7-3.1-4-4.7c-0.9-1.1-1.7-2.4-2.6-3.6c-0.6-0.8-1.1-1.7-1.6-2.5c-0.9-1.6-1.8-3.3-2.7-4.9
                  c-0.7-1.3-1.3-2.6-1.8-3.9c-0.5-1.3-1-2.6-1.4-3.9c-0.6-2-1.3-3.9-1.7-5.9c-0.6-2.8-1.3-5.6-1.4-8.5c-0.1-2.1-0.2-4.2-0.3-6.3
                  c0-0.5-0.3-0.4-0.6-0.4c-2.3,0-4.5,0-6.8,0c-1.6,0-3.2,0-4.7,0C9,84.1,9,84,9,83.9z"/>
            </g>
            </svg>
        </div>

        <h2>
            <timer countdown="bidsStartTimer.count" interval="1000" finish-callback="bidsStartTimer.finished()">{{sseconds}}</timer>
<!--            <span>00:10</span>-->
            seconds remaining
        </h2>
    </ion-content>
</ion-view>



