<ion-view class="driver">
  <ion-content>
    <h1 class="driver-title">journey confirmed</h1>
    <div class="driver-box">
      <div class="bid-btn">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 19.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 76.2 93.8" style="enable-background:new 0 0 76.2 93.8;" xml:space="preserve">
          <g>
            <path class="st0" d="M19.3,57c1.6,5.4,3,10.6,4.5,15.8c0.7,2.6,1.5,5.2,2.1,7.8c0.6,2.5,2.1,3.8,4.3,3.6c2.1-0.2,3.6-1.8,3.6-4.3
              c0.1-5,0-10,0-15.1c0-1,0-1.9,0-2.9c0.1-3.1,2.1-5.1,4.8-5.1c2.7,0,4.8,2.2,4.9,5.2c0.1,6,0,12,0,17.9c0,2.2,1,3.7,3.2,4.2
              c2.3,0.5,3.9-0.8,4.6-3.4c2.1-7.4,4.2-14.9,6.3-22.3c0.1-0.4,0.4-0.9,0.5-1.3c6.4,1,17.4,8.1,18.1,16.1c0.5,4.8,0.4,9.7,0.2,14.5
              c-0.1,3-3.1,5.5-6.1,5.9c-1.2,0.2-2.4,0.2-3.6,0.2c-18.8,0-37.6,0-56.5,0c-7.2,0-9.9-2.7-9.9-10c0-2.1,0-4.1,0-6.2
              c-0.1-5.3,1.7-9.8,5.6-13.5C9.8,60.8,14.1,58.4,19.3,57z"/>
            <path class="st0" d="M59.2,21.8c-0.4,7.5-2.7,14.4-7.4,20.3c-7.3,9.1-18.7,9.3-26,0.2c-6-7.5-8.7-16.1-7.1-25.7
              C20.5,5.8,30.4-1,41.8,0.3C51.8,1.5,59.7,11.2,59.2,21.8z"/>
          </g>
          </svg>
      </div>

      <div class="driver-info">
        <h1>{{driver.name}}</h1>
        <h2>DRIVER {{driver.driver_id}}</h2>
        <rating ng-model="driver.driver_rating" max="5" readonly="true"></rating>
      </div>

      <div class="driver-time">
        {{driver.time_in_path}}min
      </div>

      <div class="driver-bid">
        &#163;{{driver.service_fee}}
      </div>
    </div>

    <div class="driver-content">
      <div class="driver-content-item">
        <div class="driver-content-item-top">
          <h1>from:</h1>
          <h2>South Lambeth Road</h2>
          <h2>London</h2>
          <h3>sw8 1ss</h3>
        </div>
        <div class="driver-content-item-bottom">
          <h2>est time: <span><b>16 min</b> 2.9 miles</span></h2>
        </div>
      </div>
      <div class="driver-content-item">
        <div class="driver-content-item-top">
          <h1>to:</h1>
          <h2>Wellington Club</h2>
          <h2>116A Knightsbridge</h2>
          <h2>London</h2>
          <h3>sw1x 7pl</h3>
        </div>
        <div class="driver-content-item-bottom">
          <h2>traffic: <span><b>no delays</b> reported</span></h2>
        </div>
      </div>


      <button class="bef-btn">
        <?xml version="1.0" encoding="utf-8"?>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">
          <g id="APP_BADGE">
            <g>
              <path class="fill-white stroke-white" stroke="#FFFFFF" stroke-width="2.25" stroke-miterlimit="10" d="M145.7,24.8h106.1c35.2,0,52.8,0,71.7,6
                c20.7,7.5,37,23.8,44.5,44.5c6,18.9,6,36.5,6,71.7V253c0,35.2,0,52.8-6,71.7c-7.5,20.7-23.8,37-44.5,44.5c-18.9,6-36.5,6-71.7,6
                H145.7c-35.2,0-52.8,0-71.7-6c-20.7-7.5-37-23.8-44.5-44.5c-6-18.9-6-36.5-6-71.7V147c0-35.2,0-52.8,6-71.7
                C37,54.6,53.3,38.3,74,30.8C92.9,24.8,110.5,24.8,145.7,24.8L145.7,24.8"/>
            </g>
          </g>
          <g id="DRIVER">
            <g>
              <g>
                <path class="fill-black" d="M104.4,126.5c0-14.9,0.1-29.8,0-44.7c0-2.7,0.8-4.4,3.3-5.9c22.9-13.4,47.3-22.9,73.8-26.1
                  c20.5-2.5,40.7-0.4,60.5,5.5c16.7,4.9,32.5,11.9,47.5,20.8c2.2,1.3,3.1,2.9,3.1,5.4c-0.1,28.8,0.1,57.6-0.1,86.4
                  c-0.1,27.1-10.2,50.3-28,70.4c-17.5,19.8-39.2,33.9-63.2,44.8c-1.8,0.8-3.3,0.9-5.1,0.1c-22.1-10.4-42.3-23.5-59.3-41.2
                  c-16.6-17.3-28.2-37.2-31.4-61.3c-0.6-4.2-0.8-8.5-0.9-12.7C104.4,154.1,104.5,140.3,104.4,126.5
                  C104.5,126.5,104.5,126.5,104.4,126.5z"/>
              </g>
            </g>
            <g>
              <rect x="95" y="310.9" fill="none" width="205.5" height="49.5"/>
              <path class="fill-red" d="M111.9,347.6c-2.3,0-4.3-0.8-5.9-2.5c-1.6-1.7-2.4-3.7-2.4-6.1v-19.8c0-2.4,0.8-4.5,2.5-6.1
                c1.6-1.7,3.6-2.5,5.9-2.5c2.3,0,4.3,0.8,5.9,2.5c1.6,1.7,2.4,3.7,2.4,6.1v4.1h-5.5v-4.3c0-0.9-0.3-1.6-0.9-2.2
                c-0.6-0.6-1.3-0.9-2.1-0.9s-1.5,0.3-2.1,0.9c-0.6,0.6-0.9,1.4-0.9,2.2v19.9c0,0.9,0.3,1.6,0.9,2.2s1.3,0.9,2.1,0.9
                s1.6-0.3,2.1-0.9c0.6-0.6,0.9-1.3,0.9-2.2v-7.1h-2.9v-5.5h8.4V339c0,2.4-0.8,4.5-2.5,6.1C116.1,346.8,114.2,347.6,111.9,347.6z"/>
              <path class="fill-red" d="M137.2,347.6c-2.3,0-4.3-0.8-5.9-2.5c-1.6-1.7-2.4-3.7-2.4-6.1v-28h5.2v28c0,0.9,0.3,1.6,0.9,2.2
                c0.6,0.6,1.3,0.9,2.1,0.9s1.5-0.3,2.1-0.9c0.6-0.6,0.9-1.3,0.9-2.2v-28h5.5v28c0,2.4-0.8,4.5-2.5,6.1
                C141.5,346.7,139.5,347.6,137.2,347.6z"/>
              <path class="fill-red" d="M160.1,338.8l-1.3,8.3h-5.5l5.9-36.3h7.2l5.9,36.3h-5.5l-1.2-8.3H160.1z M162.8,319.2l-2,14.3h3.9
                L162.8,319.2z"/>
              <path class="fill-red" d="M189.2,310.9c2.9,0,5.1,0.8,6.5,2.5c1.2,1.5,1.8,3.5,1.8,6.1v5.3c0,2.6-0.9,4.7-2.8,6.5l3.9,15.8h-5.7
                l-3.2-13.7c-0.1,0-0.3,0-0.5,0h-3v13.7h-5.3v-36.3H189.2z M192.3,319.6c0-2.1-1-3.2-3-3.2h-3.2v11.6h3.2c0.8,0,1.5-0.3,2.1-0.9
                c0.6-0.6,0.9-1.4,0.9-2.2V319.6z"/>
              <path class="fill-red" d="M223.7,338.5c0,2.4-0.8,4.4-2.4,6.1c-1.6,1.7-3.6,2.5-5.9,2.5h-8.3v-36.3h8.3c2.3,0,4.3,0.8,5.9,2.5
                c1.6,1.7,2.4,3.7,2.4,6.1V338.5z M212.4,341.7h3.2c0.8,0,1.5-0.3,2.1-0.9c0.6-0.6,0.9-1.4,0.9-2.2v-19c0-0.9-0.3-1.6-0.9-2.2
                c-0.6-0.6-1.3-0.9-2.1-0.9h-3.2V341.7z"/>
              <path class="fill-red" d="M237.7,347.2h-5.3v-36.3h5.3V347.2z"/>
              <path class="fill-red" d="M253,338.8l-1.3,8.3h-5.5l5.9-36.3h7.2l5.8,36.3h-5.5l-1.2-8.3H253z M255.8,319.2l-2,14.3h3.9L255.8,319.2
                z"/>
              <path class="fill-red" d="M279.7,310.9l7,24.4v-24.4h5.3v36.3h-5.7l-7.2-23.2v23.2h-5.3v-36.3H279.7z"/>
            </g>
            <g>
              <line class="stroke-black" fill="none" stroke-width="4" stroke-miterlimit="10" x1="103" y1="298" x2="292" y2="298"/>
            </g>
            <g>
              <path class="fill-white" stroke="#FFFFFF" stroke-width="2.25" stroke-miterlimit="10" d="M174.3,160.8c11.4-4.8,38-5.1,53.1,0.2
                c10.6,3.5,23.7,11,24.7,22c0.6,6.6,0.6,13.2,0.3,19.8c-0.2,4-4.2,7.5-8.3,8.1c-1.6,0.2-3.2,0.3-4.9,0.3c-25.7,0-51.3,0-77,0
                c-9.8,0-13.5-3.7-13.5-13.6c0-2.8,0-5.7,0-8.5c-0.1-7.2,2.3-13.3,7.6-18.3C161.4,166.1,167.1,162.9,174.3,160.8z"/>
              <path class="fill-white" stroke="#FFFFFF" stroke-width="2.25" stroke-miterlimit="10" d="M228.6,112.9c-0.6,10.2-3.6,19.6-10.1,27.6
                c-10,12.4-25.5,12.7-35.4,0.3c-8.2-10.2-11.9-22-9.7-35c2.5-14.7,16-24,31.5-22.2C218.6,85.2,229.4,98.5,228.6,112.9z"/>
            </g>
          </g>
        </svg>
      </button>
    </div>
  </ion-content>
</ion-view>
