<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Guardian</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeEditGuardian()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doEditGuardian()">
      <div class="list">
          <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="guardianData.name" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Mobile</span>
          <input type="number" ng-model="guardianData.mobile" required>
        </label>
      
        <label class="item">
          <button class="button button-block button-positive" type="button" ng-click="doEditGuardian(guardianData)">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
