<ion-modal-view>
    <ion-header-bar>
        <div class="buttons" ng-show="estimate" ng-click="backJobCreate()">
            <button class="button button-clear" >Back</button>
        </div>
        <h1 class="title">RIDE REQUEST</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeJobCreate()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-show="!estimate" name="jobCreateForm">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Pickup location</span>
                    <input type="text"  ng-model="route.origin_location"  autocomplete autocompleteconfig="originAutoComplete" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Drop-off location</span>
                    <input type="text" ng-model="route.destination_location"  autocomplete autocompleteconfig="destinationAutoComplete" required>
                </label>



                <label class="item item-input item-select">
                    <span class="input-label">Vehicle Type</span>
                    <select ng-model="route.vehicle_type" required>
                        <option value="standard">Standard</option>
                        <option value="xl">XL</option>
                        <option value="premium">Premium</option>
                        <option value="taxi">Taxi</option>
                    </select>
                </label>
                <ion-checkbox ng-click="toggleJobType()" ng-checked="{{route.job_type === 'ridenow' ? true : false}}">Ride Now</ion-checkbox>
<!--                <ion-list>
                    <ion-radio ng-model="route.job_type" ng-value="'ridenow'">Ride Now</ion-radio>
                    <ion-radio ng-model="route.job_type" ng-value="'prebooked'">Pre Book</ion-radio>
                </ion-list>-->
                <label class="item item-input" ng-show="route.job_type=='prebooked'" >
                    <span class="input-label">Pickup Date</span>
                    <input type="datetime-local" ng-model="route.departure"
                           placeholder="yyyy-MM-ddTHH:mm:ss"    />
                </label>

                <label class="item">
                    <button class="button button-block button-positive" type="button" ng-click="doBidsEstimate()" ng-disabled="jobCreateForm.$invalid">Show Estimate</button>
                </label>
            </div>
        </form>

        <div class="list" ng-show="estimate">
            <label class="item">
                No CARS :<b>{{estimate.total_partners}}</b>
            </label>
            <label class="item">
                CAR AVAILABILITY :<b>{{estimate.eta_text}}</b>
            </label>
            <label class="item">
                AVG COST :<b>&#163;{{estimate.amount}}</b>
            </label>
            <label class="item">
                <button class="button button-block button-positive" type="button" ng-click="doStartBid()">Start Bid</button>
            </label>
        </div>
    </ion-content>
</ion-modal-view>
