<ion-view class="driver rateDriver" >
    <ion-content>
        <h1 class="driver-title">journey</h1>

        <div class="driver-box">
            <div class="bid-btn">
                <!--                <?xml version="1.0" encoding="utf-8"?>
                                 Generator: Adobe Illustrator 19.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 76.2 93.8" style="enable-background:new 0 0 76.2 93.8;" xml:space="preserve">
                                <g>
                                <path class="st0" d="M19.3,57c1.6,5.4,3,10.6,4.5,15.8c0.7,2.6,1.5,5.2,2.1,7.8c0.6,2.5,2.1,3.8,4.3,3.6c2.1-0.2,3.6-1.8,3.6-4.3
                                      c0.1-5,0-10,0-15.1c0-1,0-1.9,0-2.9c0.1-3.1,2.1-5.1,4.8-5.1c2.7,0,4.8,2.2,4.9,5.2c0.1,6,0,12,0,17.9c0,2.2,1,3.7,3.2,4.2
                                      c2.3,0.5,3.9-0.8,4.6-3.4c2.1-7.4,4.2-14.9,6.3-22.3c0.1-0.4,0.4-0.9,0.5-1.3c6.4,1,17.4,8.1,18.1,16.1c0.5,4.8,0.4,9.7,0.2,14.5
                                      c-0.1,3-3.1,5.5-6.1,5.9c-1.2,0.2-2.4,0.2-3.6,0.2c-18.8,0-37.6,0-56.5,0c-7.2,0-9.9-2.7-9.9-10c0-2.1,0-4.1,0-6.2
                                      c-0.1-5.3,1.7-9.8,5.6-13.5C9.8,60.8,14.1,58.4,19.3,57z"/>
                                <path class="st0" d="M59.2,21.8c-0.4,7.5-2.7,14.4-7.4,20.3c-7.3,9.1-18.7,9.3-26,0.2c-6-7.5-8.7-16.1-7.1-25.7
                                      C20.5,5.8,30.4-1,41.8,0.3C51.8,1.5,59.7,11.2,59.2,21.8z"/>
                                </g>
                                </svg>-->
                <img  src="{{job.partner.profile_image}}" width="100%">
            </div>

            <div class="driver-info">
                <h1>{{job.partner.display_name}}</h1>
                <h2>DRIVER {{job.partner.partner_id}}</h2>
                <h2>TYPE {{job.partner.vehicle_type}}</h2>
                <rating ng-model="job.partner.rating" max="5" readonly="true"></rating>
            </div>

            <div class="driver-time">
                {{job.eta_text}}
            </div>

            <div class="driver-bid">
                &#163;{{job.amount}}
            </div>


        </div>

        <div class="driver-content">
            <div class="driver-content-item">
                <div class="driver-content-item-bottom">
                    <h2>Car Reg: <span><b>{{job.partner.vehicle_registration_number}}</b>{{job.partner.vehicle_make}}-{{job.partner.vehicle_model}}</span></h2>
                </div>
            </div>
        </div>



        <div class="driver-content">
            <div class="driver-content-item">
                <div class="driver-content-item-top">
                    <h1>from:</h1>
                    <h2> {{job.pickup_location}}</h2>
                    <!--                    <h2>{{job.pickup_location|split:',':0}}</h2>
                                        <h2>{{job.pickup_location|split:',':1}}</h2>
                                        <h3>{{job.pickup_location|split:',':2}}</h3>-->
                </div>
                <div class="driver-content-item-bottom">
                    <h2>est pickup time: <span><b>{{job.type === 'ridenow' ?'Ride Now - ASAP':(job.pickup_datetime| moment:'dddd, Do MMMM YYYY [at] h:mm a')}}</b></span></h2>
                </div>
                <div class="driver-content-item-bottom">
                    <h2>est time: <span><b>{{job.duration_text}}</b> {{job.distance_text}}</span></h2>
                </div>
            </div>
            <div class="driver-content-item">
                <div class="driver-content-item-top">
                    <h1>to:</h1>
                    <h2> {{job.dropoff_location}}</h2>
                    <!--                    <h2>{{job.dropoff_location|split:',':0}}</h2>
                                        <h2>{{job.dropoff_location|split:',':1}}</h2>
                                        <h3>{{job.dropoff_location|split:',':2}}</h3>-->
                </div>
                <div class="driver-content-item-bottom">
                    <h2>traffic: <span><b>{{job.traffic_delay_text}}</b> reported</span></h2>
                </div>
            </div>


        </div>

        <h1 class="driver-title">rate driver</h1>
        <div class="driver-rate">
            <rating ng-model="job.partner_rating" max="5" ng-click="doUpdateRating()"></rating>
        </div>
        <div class="rateDriver-content">
            <h1 class="rateDriver-content-title"><span>tip</span> &#163;{{job.tip_amount | number:2}}</h1>
            <button class="bid-btn" ng-click="decreaseTipAmount()"><b>-</b><span>descrease</span></button>
            <button class="bid-btn" ng-click="increaseTipAmount()"><b>+</b><span>increase</span></button>
        </div>
    </ion-content>
</ion-view>
