<div class="mapActive" ng-init="ngLoaded = true" ng-class="{ active: ngLoaded }">
  <ion-view ng-controller="MapCtrl">
    <ion-content>
      <div id="map" data-tap-disabled="true"></div>
    </ion-content>
  </ion-view>


  <ion-footer-bar class="mapActive-footer">

    <div class="mapActive-footer-content">
      <div class="mapActive-footer-content-item">
        <div class="notify-content-item">
          <button class="bef-btn">
            <?xml version="1.0" encoding="utf-8"?>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">
            <g id="APP_BADGE">
              <g>
                <path class="fill-white" stroke="#FFFFFF" stroke-width="2.25" stroke-miterlimit="10" d="M145.7,24.8h106.1c35.2,0,52.8,0,71.7,6
                  c20.7,7.5,37,23.8,44.5,44.5c6,18.9,6,36.5,6,71.7V253c0,35.2,0,52.8-6,71.7c-7.5,20.7-23.8,37-44.5,44.5c-18.9,6-36.5,6-71.7,6
                  H145.7c-35.2,0-52.8,0-71.7-6c-20.7-7.5-37-23.8-44.5-44.5c-6-18.9-6-36.5-6-71.7V147c0-35.2,0-52.8,6-71.7
                  C37,54.6,53.3,38.3,74,30.8C92.9,24.8,110.5,24.8,145.7,24.8L145.7,24.8"/>
              </g>
            </g>
            <g id="DRIVER">
              <g>
                <g>
                  <path class="fill-black" d="M82.6,157.5c0-18.3,0.1-36.6-0.1-54.8c0-3.4,1-5.5,4-7.2c28.1-16.5,58-28,90.5-32.1
                    c25.2-3.1,50-0.5,74.3,6.7c20.5,6.1,39.9,14.6,58.3,25.6c2.7,1.6,3.8,3.5,3.8,6.7c-0.1,35.3,0.1,70.7-0.1,106
                    c-0.2,33.2-12.6,61.7-34.4,86.3c-21.5,24.3-48.1,41.6-77.5,54.9c-2.2,1-4.1,1.1-6.3,0.1c-27.1-12.8-51.9-28.9-72.7-50.5
                    C102,278,87.8,253.5,83.8,223.9c-0.7-5.1-1-10.4-1.1-15.6C82.6,191.4,82.7,174.4,82.6,157.5C82.7,157.5,82.7,157.5,82.6,157.5z"
                    />
                </g>
              </g>
              <g>
                <path class="fill-white" d="M166.3,199.6c14-5.9,46.6-6.2,65.1,0.3c13,4.3,29.1,13.5,30.3,27c0.8,8.1,0.7,16.2,0.4,24.3
                  c-0.2,5-5.1,9.1-10.2,9.9c-2,0.3-4,0.3-6,0.3c-31.5,0-63,0-94.4,0c-12.1,0-16.5-4.5-16.5-16.7c0-3.5,0-6.9,0-10.4
                  c-0.1-8.8,2.8-16.4,9.4-22.5C150.5,206.1,157.6,202.1,166.3,199.6z"/>
                <path class="fill-white" d="M233,140.8c-0.7,12.5-4.4,24-12.4,33.9c-12.2,15.2-31.3,15.5-43.5,0.4c-10-12.5-14.6-27-11.8-42.9
                  c3.1-18.1,19.7-29.5,38.6-27.3C220.7,106.8,234,123.1,233,140.8z"/>
              </g>
            </g>
            </svg>
          </button>
          <span class="notify-content-item-info">
            <span>jessica</span>status
          </span>
        </div>
      </div>

      <div class="mapActive-footer-content-item">
        <span>est time:</span>
        <h2>03 min</h2>
        <h3>1.5 miles</h3>
      </div>
    </div>
  </ion-footer-bar>
</div>
