<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light">
      <!--<ion-nav-back-button></ion-nav-back-button>-->

      <!--<div class="logo-ico"></div>-->

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-light">
      <h1 class="title">MENU</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/main">
          Main
        </ion-item>
        <ion-item menu-close href="#/app/bidsBeing">
          BidsBeing
        </ion-item>
        <ion-item menu-close href="#/app/map">
          Map
        </ion-item>
        <ion-item menu-close href="#/app/drivers">
          Drivers
        </ion-item>
        <ion-item menu-close href="#/app/drivers/1">
          Driver
        </ion-item>
        <ion-item menu-close href="#/app/guardians">
          Guardians
        </ion-item>
        <ion-item menu-close href="#/app/notify">
          Notify
        </ion-item>
        <ion-item menu-close href="#/app/mapActive">
          mapActive
        </ion-item>
        <ion-item menu-close href="#/app/arrived">
          arrived
        </ion-item>
        <ion-item menu-close href="#/app/rateDriver">
          rateDriver
        </ion-item>
        <ion-item menu-close href="#/app/driverPage">
          driverPage
        </ion-item>
        <ion-item menu-close href="#/app/rideNow">
          rideNow
        </ion-item>
        <ion-item menu-close href="#/app/bitReq">
          bitReq
        </ion-item>
        <ion-item menu-close href="#/app/bitBet">
          bitBet
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
