<ion-view hide-nav-bar="true">
    <ion-content>
        <h1>profile complete</h1>

        <hr/>
        <h4>bidding you a good day</h4>

        <p>Additional Text</p>


        <label class="item">
            <button class="button button-block button-positive" type="button" go-click="/app/map" >Start</button>
        </label>


    </ion-content>
</ion-view>
