<ion-view hide-nav-bar="true">
    <ion-content>
        <h1 >profile</h1>
        <form name="profileForm" novalidate>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Firstname</span>
                    <input type="text" ng-model="profileData.firstname" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Lastname</span>
                    <input type="text"  ng-model="profileData.lastname" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Mobile</span>
                    <input type="tel" ng-model="profileData.mobile" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="profileData.email" required>
                </label>
                 <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="profileData.password" required>
                </label>

                <label class="item">
                    <button class="button button-block button-positive" type="button" ng-click="next()" ng-disabled="profileForm.$invalid">Next ></button>
                </label>
            </div>
        </form>






    </ion-content>
</ion-view>
