<ion-view hide-nav-bar="true">
    <ion-content>
        <h1 >welcome to bidcar</h1>

        <hr/>
        <h4>create your profile</h4>

        <p>Additional Text</p>


        <label class="item">
            <button class="button button-block button-positive" type="button" ng-click="next()" >Next ></button>
        </label>

    </ion-content>
</ion-view>
