<ion-view hide-nav-bar="true">
    <ion-content>
        <h1 >Verification</h1>

        <p>Please enter the verification code that was sent to {{bidCarGlobals.currentUser.mobile}}</p>
        <button class="button" type="button" ng-click="resendMobileVetificationCode()" >Resend</button>
        <button class="button" type="button" go-click="/app/registerProfile" >Change Number</button>
        <form name="codeForm" novalidate>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Pin</span>
                    <input type="number" ng-model="verificationData.code"  required>
                </label>

                <label class="item">
                    <button class="button button-block button-positive" type="button" ng-click="next()" ng-disabled="codeForm.$invalid">Next ></button>
                </label>
            </div>

        </form>





    </ion-content>
</ion-view>
