<ion-view >
    <ion-content>
        <h1 >payment</h1>
        <form>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Card Number</span>
                    <input type="number"  required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Expiry</span>
                    <input type="number" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">CVV</span>
                    <input type="number" required>
                </label>

                <label class="item">
                    <button class="button button-block button-positive" type="button" ng-click="next()" >Next ></button>
                </label>
            </div>
        </form>




    </ion-content>
</ion-view>
