@font-face {
  font-family: 'Helvetica-CondensedLight';
  src: url('../fonts/Helvetica-CondensedLight/Helvetica-CondensedLight.eot');
  src: url('../fonts/Helvetica-CondensedLight/Helvetica-CondensedLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Helvetica-CondensedLight/Helvetica-CondensedLight.woff') format('woff'),
  url('../fonts/Helvetica-CondensedLight/Helvetica-CondensedLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas';
  src: url('../fonts/Bebas/Bebas.eot');
  src: url('../fonts/Bebas/Bebas.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Bebas/Bebas.woff') format('woff'),
  url('../fonts/Bebas/Bebas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

///////////////////////////////////////////RESET////////////////////////////////////////////////////////////////////////


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: 'Bebas';
}
.scroll {height: 100%;}
.scroll-content.has-footer{bottom: 0;}
.bar.bar-stable {border-color: transparent;}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
.bar-light .button.button-icon {color: red;}

///////////////////////////////////////////DEF//////////////////////////////////////////////////////////////////////////

html, body{
  font-family: 'Bebas';
}

.bg1{
  background: red;
}

.bid-btn{
  display: inline-block;
  width: 63px;
  height: 63px;
  background: #fff;
  border-radius: 12px;
  position: relative;
  border: none;
  padding: 5px;
  box-sizing: border-box;
  svg{
    height: 37px
  }
}

.bef-btn{
  background: none;
  border: 0;
  display: inline-block;
  vertical-align: top;
  width: 70px;
  &.active{
    svg{
      .st0{fill:#fff;}
      .st1{fill:#000;}
    }
  }
  svg{
    .st0{fill:red;stroke:#fff;stroke-width:8;stroke-miterlimit:10;}
    .st1{fill:#FFFFFF;}
    .st2{fill:#DC0321;}
    .st3{fill:none;}
    .st4{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
  }

  &.activated{
    .fill-white{fill: red;}
    .fill-black{fill: #fff;}
    .fill-red{fill: #fff;}
    .stroke-black{stroke: #fff;}
  }
}

.fill-white{fill: #fff;}
.fill-black{fill: #000;}
.fill-red{fill: red;}
.stroke-black{stroke: #000;stroke-width: 5;}
.stroke-white{stroke: #fff;stroke-width: 8;}


.animate{
  &-repeat {
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
    &.ng-move,
    &.ng-enter,
    &.ng-leave {
      -webkit-transition:all linear 0.5s;
      transition:all linear 0.5s;
    }

    &.ng-leave.ng-leave-active,
    &.ng-move,
    &.ng-enter {
      opacity:0;
      max-height:0;
    }

    &.ng-leave,
    &.ng-move.ng-move-active,
    &.ng-enter.ng-enter-active {
      opacity:1;
      max-height:86px;
    }

    &.ng-leave-stagger {
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }
    &.ng-enter-stagger {
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }
  }
}

///////////////////////////////////////////LOADER///////////////////////////////////////////////////////////////////////

@mixin hideshow {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes hideshow { @include hideshow; }
@-moz-keyframes hideshow { @include hideshow; }
@keyframes hideshow { @include hideshow; }

/////////////////////////////////////////BIDS-BEINGS////////////////////////////////////////////////////////////////////

.BidsBeings{
  background: red;
  text-align: center;
  h1{
    padding: 260px 0 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: bolder;
    font-size: 25px;
  }
  h2{
    color: #fff;
    font-weight: lighter;
    font-size: 14px;
    span{
      display: block;
    }
  }

  .loader{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    span{
      position: absolute;
      left: 0;
      right: 0;
      top: 38%;
      color: #fff;
      font-weight: bold;
      font-size: 22px;
    }
    .st1{
      fill: transparent;
      stroke: white;
      stroke-width: 2;
    }
    #Layer_1{
      width: 100%;
    }
    path{opacity: 0}
    #loader1{animation: hideshow 1.8s ease infinite;}
    #loader2{animation: hideshow 1.8s .10s ease infinite;}
    #loader3{animation: hideshow 1.8s .20s ease infinite;}
    #loader4{animation: hideshow 1.8s .30s ease infinite;}
    #loader5{animation: hideshow 1.8s .40s ease infinite;}
    #loader6{animation: hideshow 1.8s .50s ease infinite;}
    #loader7{animation: hideshow 1.8s .60s ease infinite;}
    #loader8{animation: hideshow 1.8s .70s ease infinite;}
    #loader9{animation: hideshow 1.8s .80s ease infinite;}
    #loader10{animation: hideshow 1.8s .90s ease infinite;}
    #loader11{animation: hideshow 1.8s 1.00s ease infinite;}
    #loader12{animation: hideshow 1.8s 1.10s ease infinite;}
    #loader13{animation: hideshow 1.8s 1.20s ease infinite;}
  }
}
/////////////////////////////////////////BIDS-BEINGS////////////////////////////////////////////////////////////////////

.bitBet{
  background: red;
  text-align: center;
  h1{
    padding: 30px 0 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: bolder;
    font-size: 45px;
  }
  h2{
    color: #fff;
    font-weight: lighter;
    font-size: 12px;
    span{
      display: block;
      font-size: 25px;
    }
  }

  .loader{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 40px auto 0;
    text-align: center;
    span{
      position: absolute;
      left: 0;
      right: 0;
      top: 38%;
      color: #fff;
      font-weight: bold;
      font-size: 22px;
    }
    .st1{
      fill: transparent;
      stroke: white;
      stroke-width: 2;
    }
    #Layer_1{
      width: 100%;
    }
    path{opacity: 0}
    #loader1{animation: hideshow 1.8s ease infinite;}
    #loader2{animation: hideshow 1.8s .10s ease infinite;}
    #loader3{animation: hideshow 1.8s .20s ease infinite;}
    #loader4{animation: hideshow 1.8s .30s ease infinite;}
    #loader5{animation: hideshow 1.8s .40s ease infinite;}
    #loader6{animation: hideshow 1.8s .50s ease infinite;}
    #loader7{animation: hideshow 1.8s .60s ease infinite;}
    #loader8{animation: hideshow 1.8s .70s ease infinite;}
    #loader9{animation: hideshow 1.8s .80s ease infinite;}
    #loader10{animation: hideshow 1.8s .90s ease infinite;}
    #loader11{animation: hideshow 1.8s 1.00s ease infinite;}
    #loader12{animation: hideshow 1.8s 1.10s ease infinite;}
    #loader13{animation: hideshow 1.8s 1.20s ease infinite;}
  }

  &-btns{
    margin: 100px 0 0;
    .bid-btn{
      margin: 0 10px 0;
      line-height: 62px;
      b{
        font-size: 60px;
        line-height: 0;
      }
      span{
        font-size: 9px;
        font-family: Bebas;
        letter-spacing: 1px;
      }
      &.activated{
        background: none;
        -webkit-box-shadow: 0 0 0 2px #FFFFFF;
        box-shadow: 0 0 0 2px #FFFFFF;
        span,b{
          color: #fff;
        }
        span{
          border-top: 1px solid #fff;
        }
      }
    }
  }
  &-reset{
    display: block;
    margin: 20px auto;
    background: none;
    border: 1px solid #fff;
    padding: 10px 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
  }
}

/////////////////////////////////////////MAP////////////////////////////////////////////////////////////////////////////

#map {
  width: 100%;
  height: 100%;
}

.logo-ico{
  width: 60px;
  height: 60px;
  display: inline-block;
  position: absolute;
  z-index: 11;
  left: 20px;
  top: 30px;
  background: url("../img/logo.png") no-repeat center;
  background-size: cover;
}

.map{
  overflow: hidden;
  &-car{
    background-color: transparent;
    top: -27px !important;
    .st0 {
      fill: #fff;
    }
    svg{
      width: 60px;
      height: 60px;
    }
    &.active{
      background-color: transparent;
      .st0 {
        fill: red;
      }
    }
    &.activated{
      background-color: transparent;
    }
  }

  &-carSearch{
    width: 60px;
    height: 60px;
    background: url("../img/carSearch.png") no-repeat center;
    background-size: cover;
    top: -27px !important;
    &.activated{
      background-color: transparent;
    }
  }

  &-title{
    width: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin: 0 auto;
    z-index: 11;
    transform: translateY(-200px);
    transition: all .5s ease-out 1.5s;
    i{
      position: absolute;
      left: 5px;
      top: 5px;
      color: gray;
      font-size: 25px;
    }
    input{
      background: #fff;
      width: 100%;
      height: 20px;
      border: 0;
      border-radius: 5px;
      padding: 17px 35px;
      box-sizing: border-box;
      text-transform: uppercase;
      font-weight: bold;
    }
    button{
      border: 0;
      background: none;
      position: absolute;
      right: 5px;
      top: 5px;
      i{
        transform: translateX(-17px) translateY(-10px);
        color: gray;
        font-size: 25px;
      }
    }
  }

  &-footer{
    background: transparent;
    transform: translateY(200px);
    transition: all .5s ease-out;
    &-content{
      background: red;
      color: #fff;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 3px;
      top: 40px;
      font-size: 0;
      z-index: 11;
      &-item{
        display: inline-block;
        vertical-align: top;
        width: 25%;
        font-size: 11px;
        box-sizing: border-box;
        padding: 20px 0 0 5px;
        &:nth-child(1){width: 20%}
        &:nth-child(2){width: 30%}
        &:last-child{padding: 15px 0 0 5px;}
        i{
          font-size: 50px;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
        }
        b{
          display: block;
          font-size: 25px;
          margin: 5px 0 0;
        }
        .bef-btn{
          svg{
            height: 60px;
          }
          &.activated{

          }
        }
      }
    }
    &.active{
      height: 140px;
      .map-footer-content{
        bottom: 0;
      }
    }
  }

  &.active{
    .map-footer{
      transform: translateY(0);
    }
    .map-title{
      transform: translateY(0);
    }
  }
}

/////////////////////////////////////////MAP-ACTIVE/////////////////////////////////////////////////////////////////////

.mapActive{
  &-footer{
    height: 120px;
    background: red;
    &-content{
      font-size: 0;
      width: 100%;
      &-item{
        display: inline-block;
        vertical-align: top;
        width: 50%;
        font-size: 16px;
        &:nth-child(2){
          text-transform: uppercase;
          color: #fff;
          padding: 0 0 0 15px;
          span{

          }
          h2{
            margin: 0;
            color: #fff;
            font-size: 45px;
          }
          h3{
            margin: 0;
            color: #fff;
            text-align: center;
          }
        }
        .notify-content-item{
          width: 100%;
        }
      }
    }
  }
}

/////////////////////////////////////////DRIVERS////////////////////////////////////////////////////////////////////////

.drivers{
  background: red;

  .list{
    padding: 55px 0 0;
    .driver{
      border: 0;
      background: red;
      color: #fff;
      transition: all 200ms ease-out;
      padding: 0;
      label {
        height: 100%;
        display: block;
        cursor: pointer;
      }
      .driver-input{
        display: none;
      }
      .driver-input:checked + .driver-label{
        background: white;
        color: #000;
        .st0{fill:#fff;}
        .bid-btn{background: #000;}
        .driver-info{
          h1, h2{color: #000;}
        }
      }

      .driver-label{
        padding: 10px 5px;
      }

      .st0{
        fill:#000;
        transition: all 200ms ease-out;
      }

      .bid-btn{
        svg{
          width: 100%;
          height: 45px;
        }
      }

      .driver-info{
        display: inline-block;
        vertical-align: top;
        width: 30%;
        h1{
          font-size: 20px;
          font-weight: 700;
          color: #fff;
          margin: 0;
        }
        h2{
          color: #fff;
          font-size: 14px;
          margin: 0;
        }
        .rating li{
          display: inline-block;
          font-size: 18px;
        }
      }

      .driver-time{
        display: inline-block;
        vertical-align: top;
        width: 24%;
        font-size: 25px;
        font-weight: lighter;
        padding: 10px 0 0;
        text-align: center;
      }

      .driver-bid{
        display: inline-block;
        vertical-align: top;
        width: 36%;
        font-size: 25px;
        font-weight: bolder;
        padding: 10px 0 0;
        text-align: left;
      }
    }
  }

  &-footer{
    height: 200px;
    text-align: center;
    &-top{
      display: block;
      width: 88%;
      border-radius: 20px;
      font-size: 25px;
      text-transform: uppercase;
      position: absolute;
      left: 0;
      right: 0;
      top: -30px;
      text-align: center;
      background: #fff;
      margin: 0 auto;
      padding: 15px 0;
      font-weight: bolder;
    }
    &-content{
      padding: 40px 0 0;
      text-align: center;
      display: block;
      width: 100%;
      &-item{
        display: inline-block;
        vertical-align: top;
        font-family: sans-serif;
        font-size: 16px;
        &-btn1,
        &-btn2,
        &-btn3{
          border: 0;
          background: none;
          display: block;
          height: 85px;
          position: relative;
          box-sizing: border-box;
          padding: 0 !important;
        }

        &-btn1{
          svg{
            height: 85px !important;
            fill:none;
            .st0{fill:none;stroke:#000;stroke-width:5;stroke-miterlimit:10;}
            .st1{fill:none;stroke:#000;stroke-width:9;stroke-miterlimit:10;}
            .st2{fill:none;stroke:#000;stroke-width:14.8;stroke-miterlimit:10;}
            .st3{fill:#000;}
            &:hover{
              .st0{stroke:red;}
              .st1{stroke:red;}
              .st2{stroke:red;}
              .st3{stroke:red;}
            }
          }
          &.activated{
            .stroke-black{
              stroke: #fff;
            }
            .fill-black{
              fill: #fff;
            }
            .fill-white{
              fill: red;
            }
          }
        }

        &-btn2{
          display: block;
          width: 85px;
          height: 85px;
          border-radius: 50%;
          border: 2px solid #000;
          background: #fff;
          box-sizing: border-box;
          padding: 10px;
          position: relative;
          margin: 0 10px;
          line-height: 0;
          &:after{
            content: '+';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            text-align: center;
            font-size: 90px;
            padding: 15px 0 0;
          }
          &:active{
            border: 2px solid red;
            background: red;
            &:after{
              color: #fff;
            }
          }
          img{
            width: 100%;
          }
        }

        &-btn3{
          width: 85px;
          height: 85px;
          border-radius: 50%;
          border: 2px solid #000;
          margin: 0 10px;
          &:active{
            border: 2px solid red;
            background: red;
            span{
              color: white;
            }
          }
          svg {
            position: absolute;
            left: -2px;
            top: -2px;
            height: 85px !important;
            &:active{
              .fill-black{
                fill: #fff;
              }
            }
          }
          span {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            text-align: center;
            line-height: 80px;
            font-size: 25px;
            font-weight: bolder;
          }
        }
      }
    }
  }
}

/////////////////////////////////////////DRIVER/////////////////////////////////////////////////////////////////////////

.driver{
  background: red;
  &-title{
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color: #fff;
    padding: 50px 0 15px;
  }

  &-box{
    .st0{
      fill:#000;
      transition: all 200ms ease-out;
    }

    .bid-btn{
      svg{
        width: 100%;
        height: 45px;
      }
    }

    .driver-info{
      display: inline-block;
      vertical-align: top;
      width: 32%;
      h1{
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      h2{
        color: #fff;
        font-size: 12px;
        margin: 0;
      }
      .rating li{
        display: inline-block;
        font-size: 18px;
        color: #fff;
      }
    }

    .driver-time{
      display: inline-block;
      vertical-align: top;
      width: 20%;
      font-size: 25px;
      font-weight: lighter;
      padding: 20px 0 0;
      text-align: center;
      color: #fff;
    }

    .driver-bid{
      display: inline-block;
      vertical-align: top;
      width: 25%;
      font-size: 25px;
      font-weight: bolder;
      padding: 20px 0 0;
      text-align: right;
      color: #fff;
    }
  }

  &-content{
    font-size: 0;
    margin: 20px 0 0;
    &-item{
      width: 100%;
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
      &-top{
        border: 1px solid white;
        box-sizing: border-box;
        padding: 5px 13px;
        h1{
          font-size: 30px;
          color: #fff;
          text-transform: uppercase;
          margin: 0;
        }
        h2{
          font-weight: lighter;
          color: #fff;
          margin: 0;
          font-size: 15px;
          line-height: 18px;
        }
        h3{
          font-weight: lighter;
          text-transform: uppercase;
          color: #fff;
          margin: 0;
          font-size: 15px;
          line-height: 18px;
        }
      }
      &-bottom{
        padding: 5px 13px;
        h2{
          text-transform: uppercase;
          font-size: 15px;
          line-height: 18px;
          color: #fff;
          margin: 5px 0 0;
          font-weight: lighter;
          span{
            display: inline-block;
            vertical-align: top;
            line-height: 27px;
            font-weight: lighter;
            b{
              font-size: 30px;
              display: block;
            }
          }
        }
      }
    }

    .bef-btn{
      margin: 100px auto 0;
      display: block;
      width: 100px;
      svg{
        width: 100%;
      }
    }
  }
}

/////////////////////////////////////////NOTIFY/////////////////////////////////////////////////////////////////////////

.notify{
  background: red;
  .scroll{
    padding: 0 10px;
  }
  &-title{
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color: #fff;
    padding: 50px 0 15px;
  }

  &-content{
    font-size: 0;
    border-bottom: 2px solid #fff;
    margin: 0 0 20px;
    &-item{
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      width: 50%;
      margin: 0 0 20px;
      cursor: pointer;
      input{display: none;}
      input:checked + .bef-btn .fill-black{fill: #fff;}
      input:checked + .bef-btn .fill-white{fill: red;stroke-width:8;}
      .bef-btn{
        width: 68px;
        padding: 0;
        &.activated{
          .fill-white{fill: #fff;}
          .fill-black{fill: #000;}
          .fill-red{fill: red;}
          .stroke-black{stroke: #000;stroke-width: 5;}
          .stroke-white{stroke: #fff;stroke-width: 8;}
        }
      }
      &-info{
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 30px;
        margin: 0 0 0;
        color: #fff;
        span{
          display: block;
          font-size: 21px;
          max-width: 79px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  &-footer{
    .bef-btn{
      width: 68px;
      padding: 0;
    }
    &-info{
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 30px;
      margin: 0 0 0;
      color: #fff;
      span{
        display: block;
        font-size: 21px;
      }
    }
  }
}

/////////////////////////////////////////MAIN-PAGE//////////////////////////////////////////////////////////////////////

.mainPage{
  background: url("../img/mainBg.png") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: #fff;

  &-btns{
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    padding: 110px 0 0;
    &-btn{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: 0 auto;
      transform: translateX(0);
      transition: all .5s ease-out 1.5s;
      svg{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 5px;
      }
      &-m{
        b, i{
          position: absolute;
          left: 0;
          right: 0;
          top: 5px;
          text-align: center;
          font-size: 22px;
          line-height: 15px;
          font-weight: bold;
        }
        b{
          margin: 0 0 0 6px;
          letter-spacing: 4px;
        }
        i{
          top: 25px;
        }
      }
    }
    &-title{
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
      letter-spacing: 6px;
      span{
        margin: 0 0 0;
        text-transform: lowercase;
        display: block;
        font-size: 18px;
        color: red;
        font-weight: normal;
      }
    }
    &-progress{
      width: 320px;
      height: 3px;
      background: rgba(128, 128, 128, 0.70);
      margin: 0 auto 20px;
      opacity: 1;
      transition: all 0s ease-out 1.5s;
      &:after{
        content: '';
        display: block;
        width: 0;
        height: 100%;
        background: rgba(255, 0, 0, 0.70);
        transition: all 1.5s ease-out;
      }
    }


    &.active{
      .mainPage-btns-btn-l{
        transform: translateX(-105px);
      }
      .mainPage-btns-btn-r{
        transform: translateX(105px);
      }
      .mainPage-btns-progress{
        opacity: 0;
        &:after{
          width: 100%;
        }
      }
    }
  }
}

/////////////////////////////////////////ARRIVED////////////////////////////////////////////////////////////////////////

.arrived{
  background: red;
  &-content{
    padding: 0 5px;
    h1,h2,h3,h4{
      color: #fff;
    }
    h1{
      font-size: 33px;
      text-transform: uppercase;
    }
    h2,h3{
      font-size: 20px;
      font-weight: normal;
      line-height: 13px;
    }
    h4{
      font-weight: bold;
      font-size: 60px;
      line-height: 50px;
    }
  }
  &-footer{
    border-top: 2px solid white;
    margin: 20px 0 0;
    padding: 20px 0 0;
  }
}

/////////////////////////////////////////RATE-DRIVER////////////////////////////////////////////////////////////////////

.rateDriver{
  .driver-rate{
    display: inline-block;
    vertical-align: top;
    width: 44%;
    font-size: 30px;
    color: #fff;
    li{display: inline-block;}
  }

  &-content{
    margin: 30px 0 0;
    padding: 30px 0 0;
    border-top: 2px solid #fff;
    text-align: center;
    &-title{
      font-size: 45px;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      text-align: right;
      span{float: left;}
    }
    .bid-btn{
      margin: 40px 10px 0;
      line-height: 62px;
      b{
        font-size: 60px;
        line-height: 0;
      }
      span{
        font-size: 9px;
        font-family: Bebas;
        letter-spacing: 1px;
      }
      &.activated{
        background: none;
        -webkit-box-shadow: 0 0 0 2px #FFFFFF;
        box-shadow: 0 0 0 2px #FFFFFF;
        span,b{
          color: #fff;
        }
        span{
          border-top: 1px solid #fff;
        }
      }
    }
  }
}

/////////////////////////////////////////DRIVER-PAGE////////////////////////////////////////////////////////////////////

.driverPage{
  background: red;
  &-top{
    margin: 20px 0 0;
    padding: 0 5px;
    .driver-info{
      h1{
        text-transform: uppercase;
        font-size: 19px;
      }
    }
    .driver-status{
      display: inline-block;
      vertical-align: top;
      width: 43%;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      position: relative;
      span{
        margin: 10px 0 0;
        display: block;
        font-size: 16px;
        font-weight: normal;
      }
      .toggle{
        position: absolute;
        right: -5px;
        top: -6px;
        input:checked + .track{
          background-color: #4cd964;
        }
        .track{
          background-color: red;
        }
        .handle{
          width: 30px;
          height: 30px;
          border-radius: 30px;
          background-color: transparent;
          border: 2px solid #fff;
          top: 5px;
          left: 5px;
        }
      }
    }
  }

  &-content{
    margin: 20px 0 0;
    padding: 20px 5px 0;
    border-top: 2px solid #fff;
    &-item{
      margin: 0 0 10px;
      .driver-info{
        width: 70%;
        h1{
          text-transform: uppercase;
          font-weight: bolder;
        }
        h2{
          text-transform: uppercase;
        }
        p{
          color: #fff;
          font-size: 15px;
        }
        h3{
          color: #fff;
          margin: 4px 0 0;
          font-size: 13px;
        }
      }
    }
  }

  &-footer{
    margin: 20px 0 0;
    padding: 20px 5px 0;
    border-top: 2px solid #fff;
    font-size: 0;
    &-left,
    &-right{
      display: inline-block;
      vertical-align: top;
      width: 50%;
      font-size: 16px;
    }
    &-left{
      color: #fff;
      text-transform: uppercase;
      padding: 10px 0 0;
      span{
        display: block;
        font-size: 55px;
        font-weight: bold;
        margin: 0 0 20px;
      }
    }

    &-right{
      text-align: right;
      .bid-btn{
        vertical-align: top;
        width: 70px;
        height: 70px;
        text-align: center;
        margin: 0 0 0 5px;
        &:active{
          background: none;
          -webkit-box-shadow: 0 0 0 2px #FFFFFF;
          box-shadow: 0 0 0 2px #FFFFFF;
          span{
            color: #fff;
          }
        }
        #calendar{
          height: 45px;
        }
        svg{
          height: 60px;
          .x{fill:#000;}

          .st0{fill:#010101;}
          .st1{fill:#FFFFFF;}
          .st2{fill:none;}
          .st3{font-family:'MyriadPro-Regular';}
          .st4{font-size:12.7556px;}
          .st5{letter-spacing:4;}
          .st6{fill:none;stroke:#020202;stroke-width:0.9111;stroke-miterlimit:10;}
        }
        &:active{
          .x{fill:#fff;}
          span{border-color: #fff;}
        }
      }
    }
  }
}

/////////////////////////////////////////RIDE-NOW///////////////////////////////////////////////////////////////////////

.rideNow{
  &-title{
    margin: 30px 0 30px;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding: 0 5px;
  }
  &-item{
    font-size: 0;
    border: 0;
    padding: 0;
    margin: 0 0 10px;
    &-input{
      display: none;
      &:checked{
        + .rideNow-item-content{
          background: white;
          color: #000;
          .bid-btn{
            background: #000;
          }
          .fill-black{fill: #fff;}
          .rideNow-item-content-info,
          .rideNow-item-content-time,
          .rideNow-item-content-bid{
            h1,h2,h3{
              color: #000;
            }
          }
        }
      }
    }
    &-content{
      padding:  10px 5px;
      &.mask{
        .bid-btn{
          background: red;
          path{
            fill: red;
          }
        }
      }
      .bid-btn{
        overflow: hidden;
        border: 2px solid #fff;
        border-radius: 10px;
        box-sizing: border-box;
        position: relative;
        padding: 0;
        span{
          width: 100%;
          height: 100%;
          position: relative;
          display: inline-block;
        }
        .top-right,
        .bottom-right,
        .bottom-left,
        .top-left{
          content: '';
          width: 50%;
          height: 50%;
          margin: 0;
          padding: 0;
          background-color: red;
          -webkit-transform-origin: 0% 100%;
          position: absolute;
          z-index: 1;
          top: 0;
          right: 0;
        }
        .top-right{
          transform: rotate(0deg) skewY(-270deg);
        }
        .bottom-right{
          transform: rotate(90deg) skewY(-270deg);
        }
        .bottom-left{
          transform: rotate(180deg) skewY(-270deg);
        }
        .top-left{
          transform: rotate(270deg) skewY(-270deg);
        }
        svg{
          position: absolute;
          left: -19px;
          top: -18px;
          width: 100px;
          height: 100px;
        }
      }
      &-info,
      &-time,
      &-bid{
        display: inline-block;
        vertical-align: top;
        width: 25%;
        h2{
          text-transform: uppercase;
          font-size: 12px;
          color: #fff;
          margin: 0;
        }
        h1{
          font-weight: bolder;
          text-transform: uppercase;
          font-size: 19px;
          color: #fff;
          margin: 0;
        }
      }
      &-info{
        margin: 0 0 0 4px;
        width: 31%;
      }
      &-time{
        h3{
          text-transform: uppercase;
          font-size: 15px;
          color: #fff;
          margin: 0;
        }
      }
    }
  }

  &-footer{
    span{
      width: 100%;
      color: #fff;
      text-align: center;
      opacity: .7;
    }
  }
}

/////////////////////////////////////////BIT-REQ////////////////////////////////////////////////////////////////////////

.bitReq{
  .rideNow-title{
    margin: 30px 0 20px;
    line-height: 50px;
  }

  &-box-info{
    display: inline-block;
    vertical-align: top;
    h1{
      font-size: 30px;
      text-transform: uppercase;
      line-height: 20px;
      color: #fff;
      margin: 5px 0 0;
    }
    h2{
      font-size: 16px;
      color: #fff;
      margin: 10px 0 0;
    }
  }

  &-footer-btns{
    margin: 100px 0 50px;
    text-align: center;
    .bef-btn{
      width: 100px;
      &.activated{
        .stroke-white{
          stroke-width: 8;
        }
        .fill-black{fill:#fff;}
        .fill-white{fill: transparent;}
        .fill-red{fill:#fff;}
      }
    }
  }
}


@media all and (min-width: 480px) {
  .mainPage-btns-btn-m {
    b,i{
      font-size: 28px;
    }
    b{
      margin: 8px 0 0 6px;
      letter-spacing: 5px;
    }
    i{
      top: 38px;
    }
  }

  .bid-btn {
    width: 80px;
    height: 80px;
    svg {
      height: 55px;
    }
    span{
      font-size: 12px;
    }
  }
  .bef-btn {
    width: 90px;
  }


  .map-footer-content-item {
    font-size: 16px;
    text-align: center;
    b {
      font-size: 33px;
      margin: 10px 0 0;
    }
    .bef-btn svg {
      height: 75px;
    }
  }

  .drivers .list .driver{
    .bid-btn svg {
      height: 70px;
    }
    .driver-info {
      h1{font-size: 25px;}
      h2{font-size: 16px;}
      .rating li {
        display: inline-block;
        font-size: 21px;
      }
    }
  }
  .driver-box{
    .bid-btn svg {
      height: 70px;
    }
    .driver-info{
      h1 {font-size: 25px;}
      h2{font-size: 16px;}
      .rating li {
        display: inline-block;
        font-size: 21px;
      }
    }
  }

  .driver-content-item-top{
    h1 {font-size: 35px;}
    h2,h3 {font-size: 19px; line-height: 21px}
  }
  .driver-content-item-bottom h2 {
    font-size: 20px;
    line-height: 22px;
    span{
      line-height: 34px;
      b {
        font-size: 40px;
      }
    }
  }
  .driver-content .bef-btn {
    width: 120px;
  }

  .notify-content-item .bef-btn {
    width: 90px;
  }
  .notify-content-item-info {
    font-size: 22px;
    line-height: 30px;
    margin: 8px 0 0;
    span {
      font-size: 32px;
      max-width: initial;
    }
  }
  .notify-footer .bef-btn {
    width: 90px;
  }
  .notify-footer-info{
    font-size: 22px;
    line-height: 30px;
    margin: 8px 0 0;
    span {
      font-size: 32px;
    }
  }


  .mapActive-footer-content-item:nth-child(2),
  .mapActive-footer-content-item:nth-child(2) h3, {
    text-align: right;
  }

  .rateDriver-content .bid-btn {
    line-height: 104px;
    b {
      font-size: 100px;
    }
  }
  .rateDriver .driver-rate {
    font-size: 47px;
  }

  .driverPage-footer-right .bid-btn {
    width: 90px;
    height: 90px;
    svg {
      height: 80px;
    }
    #calendar {
      height: 62px;
    }
  }

  .rideNow-item-content .bid-btn svg {
    left: 0;
    top: 0;
    width: 100%;
    height: 78px;
  }
  .rideNow-item-content-info h2, .rideNow-item-content-time h2, .rideNow-item-content-bid h2 {
    font-size: 17px;
  }
  .rideNow-item-content-info h1, .rideNow-item-content-time h1, .rideNow-item-content-bid h1 {
    font-size: 30px;
  }

  .BidsBeings h2, .bitBet h2{
    font-size: 15px;
    span {
      font-size: 40px;
    }
  }

  .bitBet-btns .bid-btn {
    line-height: 104px;
    b {
      font-size: 100px;
    }
  }
}































